[2017-06-05 18:22] andrewpbray opened #1 "Hypothesis testing diagram"
The following diagram was inspired by Alan Downey's "There is only one test" and can be found in keynote form in the figs directory.

<img width="946" alt="ht-diagram" src="https://cloud.githubusercontent.com/assets/1627362/26797523/017d6412-49e2-11e7-93ad-d922aa7e3835.png">

Some possible desiderata of this diagram:
- sufficiently general to describe most/all classical hypothesis tests
- specific

[2017-06-05 18:51] andrewpbray opened #2 "Hypothesize function"
**Proposed input**: dataframe/tibble that has already been `select()`ed down to variables of interest.
**Proposted output**: tibble with a flag for the null hypothesis selected, similar to `group_by()`

I like the idea of having students specify a `null` argument here, probably in the form of a character string. Deciding how to describe each of the null's we want will be difficult. I took a stab a

[2017-06-05 19:00] andrewpbray opened #3 "Generate function"
**Proposed input**: a tibble with some meta-info from `hypothesize()`
**Proposed output**: a much taller tibble that is the input `repeat()`ed n times along with an indexing column.

This function is pretty much the same as Mine's `rep_sample_n()` and it encapsulates the idea that the null hypothesis should encode some mechanism by which you can generate additional data sets under that null hypoth

[2017-06-06 12:09] ismayc commented on #2
What do you think about another argument to `hypothesis` being `test` where the type of the test is given:  `"one proportion"`, `"two means"`, etc.  I think parsing the `null` argument without this second argument is going to be a little unwieldy and it would be good for students to associate the type of the problem they are doing immediately IMO before they get to the other parts of There is Only

[2017-06-07 12:47] hardin47 commented on #3
I'm not sure which issue to put this in, but the broom package does what we want to do.  I like the idea of reporting a dataframe which has everything we need.  That is, maybe it has separate columns for each of the xbar values as well as the test statistic at hand which would be the difference in xbars.

Also, it seems like `do` generating a dataframe is going to be easier to work with (downstrea

[2017-06-07 15:56] andrewpbray commented on #2
To me, using `null` makes it sounds more like you're proposing a model to generate data. If the argument is `test`, to me, that summarizes the procedure as a whole - both the generation of the data and the calculation of a test statistic. Using the `null` formulation would enable procedures like this:

[code]

where the hypothesis stays the same but our statistic changes. We could add here any oth

[2017-06-07 16:02] ismayc commented on #2
No problem.  I do like the examples you have above.  The trickiness comes with things like "p = 0.25" or "p1 = 0.2, p2 = 0.5, p3 = 0.3".  We should be able to parse that use regex.  Maybe the focus now should be on not working with the problems that require parsing.

Agreed that we want this as general as possible while still following dplyr like syntax with only 1 or maybe 2 arguments to the main

[2017-06-07 17:24] beanumber commented on #3
I think `generate()` will also have to take a `type` argument, which could have values `bootstrap` or `permute`. I suspect we might think of other cases.

If it takes a data frame with `m` rows, it will return a grouped tibble with `repeat` * `m` rows, and an additional column called `replicate`.

[2017-06-07 17:29] beanumber commented on #2
As we discussed, I'd favor something along the lines of
[code]
Or even:
[code]
So that you can use it like:
[code]

[2017-06-07 17:45] ismayc commented on #2
@andrewpbray Would including `type` being `"custom"` still work in your framework while including Ben's suggestion?  So that students could create their own statistic and wouldn't have to fall into one of the usual tests?  The `params` being a `list()` makes sense, but maybe also including a `null` argument so you could just specify something like `null = "independence"` instead of defining `type`

[2017-06-07 19:23] hardin47 commented on #3
and does it also take an argument that says which variable gets permuted?

[2017-06-08 01:57] beanumber commented on #2
@chesterismay I don't know. But I also don't know how `null = "independence"` could be generalizable other than by identifying as many special cases as we can.

I've been thinking -- here is how I think about inference. Please correct me where I go astray (likely)!

Let's think about the process in reverse. In order to do the NHSTP, we need three things:

1. a test statistic
2. a null distribution

[2017-06-08 14:13] beanumber opened #6 "S3 classes?"
Instead of setting an attribute, should `hypothesis()` return an object of class `proptest` or whatever? That way `calculate()` will already know what to do.

[2017-06-08 16:40] rudeboybert commented on #6
Or at least inherit the class `proptest`, or whatever the right terminology is (I think I've reached the point I need to go over [Advanced R](http://adv-r.had.co.nz/))

[2017-06-08 20:00] andrewpbray commented on #6
I'm not sure how best to handle this. To me, the functionality that we want seems very similar to what `group_by()` does.

[code]

I'll start looking into what all their `grouped_df()` class is good for.

btw: have you guys used `reprex`? It's pretty handy.

[2017-06-08 23:23] ismayc opened #7 "Calculate function"
**Proposed input**: dataframe/tibble that has generated data in a form to calculate statistics across replicates
**Proposed output**: tibble containing the replicated statistics

[2017-06-09 03:01] hardin47 commented on #2
@beanumber

I disagree with this statement:  "But in order to evaluate the test statistic in that distribution, you also **need to have a specific value for what the test statistic would be if the null hypothesis was true.**"

What you **need** is to know the **distribution** of the observed statistic in repeated samples when the null is true.  You do not need to know the value of the statistic in

[2017-06-09 14:11] beanumber commented on #7
Does it work with approximation (i.e. "theory") methods?

[2017-06-09 14:14] ismayc commented on #7
Based on Andrew's diagram, I believe the thought was that `hypothesis()` would feed `visualize()` directly.

[2017-06-09 14:39] beanumber commented on #2
@hardin47 Yes, I agree, but don't we have to think about in relation to what?

Consider a student learning about the chi-squared goodness-of-fit test after just having spent a few weeks doing t-tests. They get a picture that looks like this:

[code]
![image](https://user-images.githubusercontent.com/2774211/26980258-992491e4-4cff-11e7-8139-83b9c25111cd.png)

Student says: Cool, my test statistic i

[2017-06-09 17:55] andrewpbray commented on #7
This is a good discussion point. These would be the two options for doing, say, a one sample proportion test via an approximation (course we need to decide if we're using the binomial exact for the normal approx):

[code]

[code]

I think the narrative behind the first one is that the specification of then null hypothesis is sufficient to parameterize the sampling distribution. The narrative behin

[2017-06-09 18:01] ismayc commented on #7
Hmm, what about `calculate(obs_stat = "prop")` to reinforce that we will be plotting the transformed value of the observed statistic in relation to the approximate distribution of the test statistic?  Then `calculate(stat = "prop")` produces the calculation of all of the generated statistics and one could place where the observed statistic falls on that distribution by specifying that value:  `obs

[2017-06-09 18:27] andrewpbray commented on #2
Ben, I'm coming around to the idea of phrasing even the F and ChiSq in terms of their null values, but I still have a couple things to sort out.

In terms of how to explain the one-tailedness of the ChiSq, I introduce it as one of many possible "distance" measures between what you would expect under the null and what was observed. What we observed is straightforward, but to build up the expected v

[2017-06-09 19:33] andrewpbray commented on #7
That's an interesting idea. We could also put that as an argument to the following function, so

[code]

`TRUE` could be the default there, but at least it would make it clear that the main thrust of this pipeline is the generation of the sampling distribution.

I think the downside to this approach is that no where in there are the students calculating the observed statistic themselves. That's ki

[2017-06-09 20:04] ismayc commented on #7
It's my opinion that the observed statistic should be calculated outside of the process to ensure that students continue to get practice with `group_by` and `summarize`.  The tricky part comes with also including the repetitions and that's where the code gets harder for students to use.

[2017-06-09 22:14] andrewpbray commented on #7
I like this aside: "[the observed statistic] is a key part of the p-value, after all". It has me thinking of something like this:

<img width="919" alt="two-pipelines" src="https://user-images.githubusercontent.com/1627362/26996092-281661b4-4d25-11e7-94ba-e162288f7b06.png">

Where we have `visualize(null_stats, obs_stat)` and you could do it similarly for `p_value()`.

**Pros**
1. Makes it very cl

[2017-06-09 22:24] ismayc commented on #7
I don't think we are going to be able to use just `summarize()` but instead `group_by()` with `summarize()` since we'll frequently need to compute more than just an overall mean but instead the means across multiple groups, say.

I think that there really are three separate processes here:

1. Determine the observed statistic.
2. Simulate the null being true (or assume an approximation)
3. Visuali

[2017-06-09 23:00] andrewpbray commented on #7
Good point about those double groupings that were so ugly in the original code. Sounds like `calculate()` is needed.

Do you know if Allen's deltas are the test statistic or the effect size? I could see arguments in favor of plotting the sampling distribution in the t scale or in the xbar1 - xbar2 scale. My sense from looking at this is that he uses the latter. That could be an option to toggle, I

[2017-06-09 23:04] ismayc commented on #7
I think it applies to either, but he does use "observed effect delta*" in his diagram.  I think that should be a toggle, especially if we want to overlay the t-distribution approximation.   I think Allen isn't a huge fan of approximation parametric distributions.

[2017-06-10 00:20] ismayc commented on #7
Whoofta.  I'm gonna have to figure out how to use the new stuff in `dplyr` since the `_` verbs are now deprecated:  https://cran.r-project.org/web/packages/dplyr/vignettes/programming.html

In my most recent pull request, I have the code working ONLY for ```mtcars %>%
    select(mpg, am) %>%
    hypothesis(null = "equal means") %>%
    generate(reps = 100, type = "permute") %>%
    calculate(stat

[2017-06-11 19:22] hardin47 commented on #2
@beanumber

Not once has a student ever pushed back on the value above *not* being significant.  We talk about the logic of rejecting the null hypothesis if the test statistic is BIG.  I do a few clicker questions.  Done.  They get it.  I don't need to try to explain that there is some kind of hypothetical population value which is identically equal to zero.  They understand that the test statisti

[2017-06-14 17:35] ismayc commented on #7
The follow-up pull request has Two Proportions and Two Means implemented as well as a bootstrapped one-sample mean.  I'm happy to keep going on this if you all like or I can shift towards working on `visualize()`?

[2017-06-23 23:18] andrewpbray commented on #7
I ran through the two props test - woohoo, it works! The first time, I did it, though, I hadn't done the preliminary bit to shift the `mtcars` variables to factors. The result was an inability to calculate the proportion by taking the mean of the logical where where calling the `levels()` function, since the default class doesn't have levels. It just gave me NaNs instead of the proportions.

I'm a

[2017-06-23 23:34] andrewpbray commented on #2
I've been looking through the way that `generate()` and `calculate()` are written and it appears that we actually don't need the `hypothesize()` function.

[2017-06-23 23:51] ismayc commented on #7
It wasn't clear to me how else to get this to work without having another argument specifying what the default "success" would be.  I agree that it shouldn't be class specific.

I think we should really try to write informative usage messages for all of these functions.  I suspect that DataCamp data should further support this when we better understand the mistakes students are making most frequen

[2017-06-24 20:58] mine-cetinkaya-rundel commented on #7
My `inference` function implementation has a `success` argument. I don't know how else one could do proportion inference, students must be able to specify which is the success.

Then, I think, we can coerce the explanatory variable to factor for proportions, and the function should check that the level specified as success is indeed a valid level of the variable. Feel free to borrow syntax from th

[2017-06-27 17:24] beanumber opened #9 "failed to import pipe?"
[code]
Should we just move `dplyr` to Depends?

[2017-06-27 17:33] andrewpbray commented on #9
Ah, interesting. So does it import it for use inside the `infer` functions but not for general use?

I think moving `dplyr` to Depends is sensible. `select()` will also be a key part of any inferential pipeline that people use this package for.

[2017-06-27 17:56] beanumber commented on #9
Agreed. I think it is possible to re-import the pipe, but as you say, it's hard to imagine someone using this without using other `dplyr` functions, so why not just bring them all in?

[2017-06-27 18:21] beanumber opened #11 "naming of functions"
Instead of `generate()` with different types, would it be better to have `simulate()`, `bootstrap()` and `permute()` just be separate functions? They are "verbs" after all... Wouldn't this make it even clearer what is happening?

[2017-06-27 18:32] beanumber opened #12 "logic in hypothesize()"
Note:
[code]
The code is checking to see whether the number of parameters is greater than the number of columns in the matrix. But here we want to check whether it is the same as the number of factor levels in the one variable. Does it create a problem anywhere else if I change this?

[2017-06-27 19:03] beanumber opened #13 "Still think the parameters for a multi-level factor should be a vector"
Especially since they are going to get passed to the `prob` argument of `sample()`, which is already a vector.

[code]

[2017-06-27 22:57] andrewpbray commented on #11
Mmm, I have a slight preference to keep them united under `generate()`, because it underlines the idea that there are all ways to generate more data. I could be convinced otherwise, though, if others feel strongly.

[2017-06-27 23:00] andrewpbray commented on #12
Whoops, yeah, that was a poorly thought-through error message.  Feel free to correct it. It won't break anything else, but we'll need to an write equivalent checkers for ANOVA.

[2017-06-27 23:09] andrewpbray commented on #13
Here are some arguments.

In favor of `hypothesize(null = "point", p = c(.4, .3, .3))`:
1. Will be able to pass that argument to `sample()` without reformatting.
2. Looks more natural to experienced R users.

Seems like if we did it this way, we'd also want to store the `param` attribute as a vector instead of a list. I'm not sure if that is a positive or a negative on balance.

Arguments in favor

[2017-06-27 23:33] #6 closed

[2017-06-28 00:05] andrewpbray opened #14 "Print methods"
I'd like people to be able to break the inferential pipeline at anypoint and have the output make sense. The default tibble/data.frames that we're working in are pretty good, but there are other attributes related to `hypothesize()` that would be nice to print (similar to how "Groups: cyl" will be printed at the top of the output of `group_by(mtcars, cyl)`.

Seems like all we'd need to do to do th

[2017-06-28 02:49] mine-cetinkaya-rundel commented on #11
I'd also prefer to keep it all the same. I think there is benefit to being able to keep names of steps the same. Otherwise I feel like we would spend a lot of energy explaining the differences (so people learn to use the right one) and I'm not sure that's the main thing we want to emphasize. Do others agree?

[2017-06-28 03:57] andrewpbray commented on #11
That's a good point. As long as they always use those save 3 verbs, they should be in decent shape; we'll be able to hopefully write sufficient error messages within each to coax them into doing the right thing.

[2017-06-28 14:49] andrewpbray commented on #13
So Mine, are you suggesting:

`hypothesize(null = "point", apples = .4, oranges = .3, bananas = .3)`?

You're right that there'd be no way to pin proportions to levels except through order if we did the vector approach.

[2017-06-28 15:05] mine-cetinkaya-rundel opened #15 "Calculate should not use `mean` as the var name in output"
This is in the summarise step of calculate. Since `mean` is a function it's not good practice to also use it as variable name, same with median etc. Alternatives:

1. Generically call all of them `stat` so the output looks the same regardless of what statistic is used, this means user has to remember which it was, which is ok I think since in the function call they specify it.
    - If we go with

[2017-06-28 15:44] andrewpbray commented on #15
Hmm, good point. I'm inclined to agree that option 1 is preferable, but I would want to be sure that the stat is documented in the print method.

[2017-06-28 15:49] andrewpbray commented on #15
Looking at `calculate()` right now, I think it'll make sense to abstract it a bit: create really only two if/thens - one for the single stat and one for the grouped stat (differences in props/means). This will make the code more concise, but also make it easier to extend for a generic FUN. I'll wait on that until Chisq and F are done to be sure that re-factoring makes sense.

[2017-06-28 17:21] mine-cetinkaya-rundel opened #16 "Calculate currently doesn't return anything"
Is this right? That's my experience with it.

What should it return, as in, what should the object be called? Options:

- `dist`
- `sim_dist` or `perm_dist` or `boot_dist` depending on generate type
- `boot_mean` or `perm_mean` or `perm_median` etc. depending on both generate type and stat?
- ???

[2017-06-28 17:21] mine-cetinkaya-rundel opened #17 "Use tidyeval functionality"
This is relevant to `calculate` but maybe others too, if any of those use underscore verbs from dplyr, which is now deprecated functionality.

Prototype for calculating for `stat == "mean"`

[code]

Note that this requires importing the `sym` function from the rlang package, which dplyr currently does not import automatically.

Is someone up for updating the calculate function with this, or should

[2017-06-28 17:28] mine-cetinkaya-rundel commented on #13
I think we now landed on

[code]

I don't know if it's better to do

[code]

to drive the point home that these are levels, not variables. I am somewhat leaning towards the latter for that distinction, even though it's a bit more typing.

[2017-06-28 17:39] andrewpbray commented on #16
This one works:

[code]

I think we just need to add more `return()` statements for the other cases.

[2017-06-28 17:46] mine-cetinkaya-rundel commented on #16
I think the way to go is to use a consistent df name for all generated objects, and just use one return statement at the end.

[2017-06-28 17:50] andrewpbray opened #18 "Where should the group_by go?"
Currently we have the df coming out of `generate()` getting grouped by `replicate`. In calculate, we'll need to redo the grouping for the difference case, but for the single variable case, we don't need those `group_by()`s in there, so we?

More generally, does it make more sense to group by in `generate()` or `calculate()`.  I kinda like having it generate because that output doesn't really make

[2017-06-28 20:59] andrewpbray commented on #16
Closed by [this commit](https://github.com/andrewpbray/infer/commit/bc7a3c546ff4e5c641954b8aab2adc0e52238bd2).

(why do i always remember the commit-closing trick *after* having committed?)

[2017-06-28 20:59] #16 closed

[2017-06-28 21:01] andrewpbray commented on #17
I'll do this. Will give me a chance to play around with this new formulation.

[2017-06-29 15:40] #13 closed

[2017-06-29 15:42] andrewpbray opened #19 "Add string to factor coercion to hypothesize"

[2017-06-29 17:49] #12 closed

[2017-06-29 17:49] #11 closed

[2017-06-29 18:00] beanumber commented on #18
I agree, I think the output from `generate()` should be a `grouped_df`.

[2017-06-29 18:26] mine-cetinkaya-rundel commented on #18
I second @beanumber's suggestion.

[2017-07-01 17:15] rpruim opened #20 "Where is the grammar?"
Just looking over this briefly, I don't see the "grammar".  Do you have a grammar in mind?  What are its elements (nouns and verbs)?  How are they defined?  This seems to be motivated primarily by the desire to use `%>%` and not by a well-defined grammar.  Am I missing something?

Perhaps a wiki page could be created to describe the grammar.

[2017-07-01 17:18] rpruim commented on #20
It seems like **hypothesis** out to be a noun in grammar of hypothesis testing.  Are hypotheses going to be R objects?  How will they be created?

Or perhaps this should start from models rather than from hypothesis?

[2017-07-01 17:19] rpruim commented on #20
Do you have proposed syntax for a wide range of hypotheses that could be tested (and intervals to be computed)?  I'd suggest making this list earlier rather than later so you don't box yourself into unfortunate choices made while working on the simplest examples.

[2017-07-01 17:31] rpruim commented on #2
Scanning this quickly, it feels to me like you are conflating the test statistic and the parameter(s) of the null hypothesis.  The parameter(s) of the natural null hypothesis are not typically the same as the test statistic -- and not just because we change the font.

Saying that the null hypothesis is F = 1 for ANOVA doesn't seem like the right way to go.  Isn't the null hypothesis here that all

[2017-07-01 19:33] rpruim opened #21 "open or closed system?"
I've gone at least quickly through all the issues now.  It seems like you are trying to create a very closed system -- users will only be able to conduct hypothesis tests that you have imagined in advance they will want to do to and for which they know the magic character strings that name the test.  This is only marginally different from having a separate function for each test.

A true grammar o

[2017-07-02 01:45] andrewpbray commented on #21
We're hoping to create a system that is as open as possible. As you look through things, know that this package is just in the very first steps of development and that the github issues are an incomplete documentation of our planning. We also chat once a week and most of that doesn't get documented here, but we plan to do exactly as you suggest -

We're planning to do exactly as you suggest - allo

[2017-07-02 12:12] nicholasjhorton commented on #21
I'm glad to hear how this project is shaping up: I'm very interested in ways to round off some of the rough edges in R that can allow students and instructors at places like Reed as well as those in less well-resourced environments to incorporate R early and often.  I'm particularly keen to hear about places where existing tidyverse approaches aren't intuitive or where instructors run into trouble

[2017-07-03 09:44] ismayc commented on #7
Agreed on the `success` argument.  It seems that students will also need to specify which variable is "explanatory" and which is "response" as well, right?

Are you thinking of coercing to factor inside or outside this function?

I am back on the grid now and am happy to look into this further during useR.  What is the best way for us to find a time to chat while some of us are in Brussels?

[2017-07-03 10:50] ismayc commented on #20
A brief glimpse into the verbs is available in the README.md of the package.

[2017-07-03 10:53] ismayc commented on #18
I'll add a third.  Having it be a `grouped_df` should help with `calculate` a ton.

[2017-07-03 10:57] ismayc commented on #17
Is there a way to have the `stat` in `dplyr::summarize(stat = mean(!!sym(col)))` be variable based on the statistic chosen using the `tidyeval`/`rlang` syntax?  Having the column be named `stat` does work but I wonder about students being confused/forgetting, what the statistic was that they calculated.

[2017-07-03 10:58] rpruim commented on #20
See #21.   I still can't tell yet whether you are just trying to support a small number of things that show up in a *traditional* Intro Stats courses or trying to build a system that works quite generally.

[2017-07-03 11:02] ismayc commented on #20
Initially, we want to support the small number of things the show up in Intro Stats but while doing so hopefully create a system that works more generally.  We want intro stats students and professionals to use the package long term.

We do not currently have a proposed syntax for all possible hypothesis tests and confidence intervals that could be run, but we will be discussing soon on ways to ex

[2017-07-03 11:07] ismayc commented on #20
The grammar is also roughly defined by [Allen Downey's "There is Only One Test" framework](http://allendowney.blogspot.de/2016/06/there-is-still-only-one-test.html).

[2017-07-03 11:15] rpruim commented on #20
Something to consider:  Perhaps you are fixated on `%>%` -- not everything needs to use the syntax.  It is good for things like a sequence of data transformations, but perhaps that isn't the right way to think about hypothesis testing.

Instead, you could think of a hypothesis test as having three ingredients:
  * data
  * a null hypothesis / a way to generate data under the null
  * a test statis

[2017-07-03 11:23] nicholasjhorton commented on #20
Having the structure flow seamlessly into a world of tests and confidence intervals for multiple regression is also important, since many two sample comparisons may have potential confounding factors.  This is where Danny's "Fresh Modeling" approach used lm() and friends as an organizating structure (with "mosaic::resample()" and "mosaic::shuffle()" to bootstrap or permute, respectively).

Nichola

[2017-07-03 11:23] rpruim commented on #20
Allen Downey does not define a grammar.  That's part of your problem.  He says, for example,

But there is no grammar for describing these hypotheses or how they will be "capable of generating random data sets".  That's really the crux of the matter -- what is the grammar for describing how to create random data sets?  Data is easy (a data frame, most likely).  The test statistics is easy (a funct

[2017-07-03 11:26] rpruim commented on #20
I agree with @nicholasjhorton that it is worth considering starting from models rather than from hypotheses.  And R already has a pretty rich system for describing models (based on formulas).

[2017-07-03 11:29] rpruim commented on #20
Note: One of the downsides to using `mosaic::do()` is that it is **so** general.  It doesn't know what it will be asked to repeat or why.  A function that receives as input
  * data
  * a hypothesis (or model)
  * a test statistic
and whose job is creating the null distribution of the test statistic can likely be much more efficient.

[2017-07-03 11:31] rpruim commented on #17
Follow with `%>% rename()`?

[2017-07-03 11:36] rpruim opened #22 "How do you plan to support tests in the context of lm() and glm()?"
As @nicholasjorton suggested, it will be important to be able to move easily beyond the traditional Intro Stats tests to this more flexible space -- else you are just a dead end.

Perhaps it would be better to start from that end than from the 1- and 2-sample end.  Most of the 1- and 2-sample things can be thought of as special cases of this more general setting anyway.

[2017-07-03 11:39] rpruim commented on #21
I'm glad to know that you are after an open system -- although I find statements in the issues that seem to contradict that point of view and suggest that the focus is on traditional intro stats topics, which would interest me far less.

As for being misled by the issues -- it's where you tell people to look:

[2017-07-03 20:12] hardin47 commented on #2
I really appreciate @rpruim 's take on this.  Maybe that's why I was having so much trouble with F=1 or chisq=0.  I'd much prefer to stick with "means equal"  "proportions equal" etc.

[2017-07-05 08:30] ismayc commented on #15
Option 1 sounds great!  The note will be helpful too.

[2017-07-05 12:57] rpruim commented on #15
This comment

seems to be in the wrong issue.  I'd suggest opening a separate issue about this.

More importantly, isn't this the job of the stat function, not of `calculate()`?  The fact that you have to extend things to work with a general function makes me worry that you are building a system that isn't really open at its core and will need a redesign after your initial experimentation.

[2017-07-06 10:57] ismayc opened #23 "Add warnings for all the mistakes one can make"
After implementation

[2017-07-06 13:59] rpruim commented on #7
You could consider working with logicals rather than factors here.

[2017-07-11 19:03] beanumber opened #24 "Leverage modelr more heavily"
I still wonder whether leveraging a supported tool like `modelr` is the way to go. Note that permutation functions may soon be coming to `modelr`:

https://github.com/tidyverse/modelr/issues/47

[2017-07-11 19:07] rpruim commented on #24
I think it is wise to use/create tools that have wide applicability.  Hitching a cart to the tidyverse horse ensures that things will at least have wide visibility and strong support and would leave you more time to develop materials rather than build infrastructure.

But I haven't seen the plans for where the tidyverse modeling stuff is going to know how well it will suit your purposes.

[2017-07-12 16:54] beanumber opened #25 "name of select replacement"
- `specify()`
- `formulate()`?

[2017-07-12 17:54] andrewpbray commented on #25
I can't think of anything better than `specify()`.  I think I can recode myself to stop staying "specify the hypothesis" but I'm not sure I can recode "formulate a hypothesis". That is, I'm comfortable saying "First you need to specify which variable in the data set you are treating as the response".

[2017-07-12 18:02] andrewpbray commented on #24
`resamplr` looks like it could be a pretty neat package. It's tough to tell what the syntax would look like when combined with `modelr` to do the sorts of simple inferential procedures we're looking to do. Definitely worth keeping an eye on.

[2017-07-12 18:03] andrewpbray commented on #23
Looks like this is best done with `assertthat` - it's a slicker implementation than what I started doing with base functions.

[2017-07-12 18:24] andrewpbray commented on #25
@nicksolomon, @ismayc, @hardin47, @mine-cetinkaya-rundel, @beanumber

As per our call today, I sketched out in the readme our ideas for how to provide sufficient info for downstream functions to do the parsing of which variables to put where. We can implement both the formula interface and the `response` and `explanatory` argument alternatives. I think the formula interface is superior for multiva

[2017-07-12 23:13] andrewpbray commented on #25
This just in: `NULL` is an acceptable element of a formula. The means we could use the following for the one sample case:

[code]

If we try to describe the `specify()` function as `response ~ explanatory`, `NULL` sounds more like "there is no explanatory variable here" than `1` does. It has the unfortunate side effect of sounding like shouting.

Thoughts/prefs?

[2017-07-13 15:51] hardin47 commented on #25
I'm not worried about the screaming part.  The caps actually might be helpful in communicating to students what NA is used for.  I mean, in the sense of "this is a particular thing which has a particular all-caps notation."

I really like `am ~ NULL` as it doubly reinforces the idea that we don't have an explanatory variable.

And I like specify().

Thanks for all your work on this, @andrewpbray !

[2017-07-13 15:57] hardin47 opened #26 "CI for slope"
@andrewpbray

I'm doing CIs for the linear model case.  Can that option also be implemented in `infer`?

Also, I don't know if you were asking for advice for the linear model hypothesize function, But I prefer "slope=0".  That way, the ideas are easier to generalize to multivariate models.  I'm also not opposed to having both options be possible as hypothesize arguments.

[2017-07-13 16:43] andrewpbray commented on #26
Hmm, are you thinking CIs on E(Y|X) or on B1? If the latter, yes, it's no problem to set up the bootstrap. I've added that to the README as the final use case to build out.

In terms of the parameterization of `hypothesize()`, we have two options I think:
[code]
For the permutation test on the slope, the former strikes me as a more apt description of the  null since permutation implies that the sl

[2017-07-14 12:13] nicholasjhorton opened #27 "query about cool figure"
![screen shot 2017-07-14 at 8 11 49 am](https://user-images.githubusercontent.com/530542/28211731-3121e186-686c-11e7-9318-4c38c9be4ee4.png)

I had a question about the cool figure (above).  Shouldn't the approximation arrow point to "calculate statistic" since that's where the approximation picks up?

Just my $0.02, Nick

[2017-07-14 21:48] hardin47 commented on #26
1. Right, we're on the same page:  I do both (CIs for E(Y|X) and B1), however, I only bootstrap CIs for B1 (the E(Y|X) CI is done using theory).

2. As for the null within `hypothesize`, I totally get your point.  I think my hesitation simply has to do with being used to teaching it as `B1=0`.

I hadn't thought about (or noticed) the null being `= independence` for 2 means.  I agree that it is mor

[2017-07-15 03:38] andrewpbray commented on #27
Yeah, I'm still not sure how we'll up integrating the approximation methods. Initially we did have the arrow go to `calculate()` but then we decided that this pipeline would not compute the observed statistic - that will come in a separate pipeline using the dplyr that students will be familiar. The two will be combined in `visualize()` to show the observed in the context of the sampling distribut

[2017-07-15 15:33] rpruim commented on #27
Probably "Calculate Statistic" should be "Calculate Sampling Distribution Under the Null" and be outside the blue box.  That can be done either by computing a statistic from each of your generated data sets (inside the blue box) or by other means ("approximation").

The current chart conflates one method of getting there with the destination.

[2017-07-15 18:53] nicholasjhorton commented on #27
I like the building blocks of "specify()", "hypothesize()", "calculate()", and "visualize()" and look forward to seeing how this comes together.

[2017-07-19 11:20] beanumber opened #30 "generate() chokes when factor levels are integers?"
[code]

[2017-07-19 11:27] #9 closed

[2017-07-19 11:27] #25 closed

[2017-07-19 11:29] beanumber opened #32 "add test statistics ref line to visualize()?"
`visualize()` shows the sampling distribution. Should we add a call to `+ geom_vline()` that illustrates where in the sampling distribution the test statistic is? Do we still have that information by the time we get to `visualize()`?

[2017-07-19 13:03] beanumber opened #33 "lazy eval issue?"
[code]
This used to be fixed by using `mutate_()` with a formula, but now we are supposed to use `rlang`?? I think @ismayc knows how to fix this...

[2017-07-19 13:07] beanumber commented on #30
Nevermind.

[2017-07-19 13:08] #30 closed

[2017-07-19 13:12] beanumber commented on #14
I don't think we need to know, since we can just call `NextMethod()`.

But I think we might want to have different classes for each step of the process. I guess it depends on what else you want to print. If all you want is to print out the attributes, then perhaps just one class will do it.

[2017-07-19 13:34] andrewpbray commented on #32
Our most recent thought was to calculate the observed statistic in a separate pipeline and then include it as an argument to `visualize()`, I think.

[2017-07-19 13:34] beanumber commented on #18
I think this can be closed.

[2017-07-19 13:40] beanumber commented on #20
@rpruim I agree that the grammar light here, but it's not missing. The verbs `specify()`, `hypothesize()`, `generate()` all *do* things to nouns (which are (possibly extended) tbls).

Part of the goal is to emphasize the individual steps in the process of statistical inference, since those are generalizable. This is an alternative to the monolithic function `oilabs::inference()`, which does everyt

[2017-07-19 13:44] beanumber commented on #32
A separate pipeline? That seems way to clunky. Once the *hypothesis* is *specified* (wink), shouldn't we have everything we need to know? I'd favor having `hypothesize()` add a `test_stat` attribute before it craps out.

[2017-07-19 14:08] beanumber opened #34 "support for approximation methods"
Did we close the door on this? It seems like

[code]
would still make sense. It would return something like:

[code]

[2017-07-19 14:52] ismayc commented on #34
I don't think we closed the door, but we did hold off until we got the computation/resampling stuff set-up.

[2017-07-19 14:54] ismayc commented on #18
Agreed.

[2017-07-19 15:14] ismayc commented on #33
Not sure of an `rlang` solution to this.  Jenny Bryan in `googlesheets` does something like

[code]

And I just checked and this works to remove the note from `devtools::check()`.  And it looks like Hadley isn't completely against [using this](https://stackoverflow.com/questions/9439256/how-can-i-handle-r-cmd-check-no-visible-binding-for-global-variable-notes-when).

[2017-07-19 15:18] beanumber commented on #2
I hear what you are saying and I am beyond ready to concede.

Neverthesless, I still find it unsatisfying to translate so seamlessly between the "means are equals" world and the "my test statistic is F=5.4 so what am I supposed to think about that" world.

The way that I think about what F=5.4 means to have have some other number on the same scale as F that I use as a reference point in my samplin

[2017-07-19 15:23] ismayc commented on #32
I think the inclination was to have students/users use the strategies that they have developed with `dplyr` to calculate the observed test statistic in a different pipeline since this isn't too many links in a chain.

[2017-07-19 15:24] beanumber commented on #33
Not anymore at least!

[2017-07-19 15:24] ismayc commented on #19
This has been implemented in `specify()` now.

[2017-07-19 15:26] beanumber commented on #32
Can you provide a full example of how you think this would work?

[2017-07-19 15:41] ismayc commented on #32
[Here](https://gist.github.com/ismayc/74eee31d4b9f63f9b62e9d7e411b5628) are some thoughts and code in a gist.  My interpretation of previous discussions.  Completely open to other ideas here.

[2017-07-20 13:00] mine-cetinkaya-rundel opened #36 "Handling of NAs"
Currently, if the input data has an NA, no warnings are shown but the resulting simulated statistics vector can have some NAs since `calculate` doesn't specify to handle NAs when taking mean, median, etc. One option is to specify that in calculate. The other option is to make the user get rid of NAs first in the exploratory stage, and then feed the data into the `infer` steps. Former is a bit more

[2017-07-20 13:01] mine-cetinkaya-rundel opened #37 "Why is Med capitalized?"
Was there a specific purpose for this? If not, I suggest using lowercase, as needing to capitalize might trip up students. Happy to do a small PR for this but didn't want to touch it before checking to make sure the capitalization isn't serving some other purpose.

[2017-07-20 15:06] ismayc commented on #37
I had just always used Med to make it stand out as a parameter and not a statistic in much the same way mu is used for the mean.  Happy to switch it to something else though.

[2017-07-20 15:08] ismayc commented on #36
I'm inclined to have students do the removal of NAs themselves in the exploratory stage instead of doing it inside `calculate` since I think it is important for students to understand their data before they throw it into a pipeline like this.

[2017-07-20 16:19] beanumber commented on #36
On the other hand an option like `na.rm = FALSE` would fit nicely with other R syntax and simplify lives. How about including this argument, setting the default to `FALSE` and having it break if there are `NA`s (to mimic the conservative behavior of `mean()`)? This would still force students to understand that they are working with `NA`s.

I agree that glossing over the `NA`s is not ideal.

[2017-07-20 16:21] ismayc commented on #36
`na.rm` as an argument to `calculate()`, right?  I think that falls in line with using `success` as an argument there with a One Proportion bootstrap to further identify details about the calculation process.

[2017-07-20 16:25] beanumber commented on #36
Yes. Is this even something that we could pass through in the `...`?

[2017-07-20 16:26] ismayc commented on #36
Hmm, isn't there something funky about `base::mean` and using `...`?

[2017-07-20 16:27] ismayc opened #39 "Update keynote diagrams"
We will need to update the keynote diagram that sits in the README for hypothesis tests and also add the one for confidence intervals.  I rarely use Keynote so I suspect one of you can do this a lot faster and nicer than my attempts.

[2017-07-20 16:32] andrewpbray commented on #37
I'm fine with either. I was going back and forth with `"Chisq"` and `"chisq"` (right now it's the former). The greek letter is capitalized, so I was thinking we should do that with the anglicization of it, but I admit I don't like the aesthetic of sporadic capital letters.

[2017-07-20 16:33] ismayc commented on #32
Until we have both computational and approximation methods implemented, I think it best that students write their own `ggplot2` code instead of using `visualize` to produce the histogram/bar graph and vertical line.  It also gets them in the habit of saving the chain from `hypothesize` to `calculate` and assigning a name like `null_distn`.  They can then use the `null_distn` and one line of `summa

[2017-07-20 16:34] andrewpbray commented on #36
`na.rm` sounds like a sensible thing to do to me. I'm not away of any funk - does it not work to pass from `...` into `base:mean()`?

[2017-07-20 16:37] ismayc commented on #36
I think I'm conflating ideas here.  I'll look into adding `na.rm` as an option to `calculate()` and see if there is any problem with it.

[2017-07-20 16:46] ismayc commented on #37
Do we also want to use `sigma` instead of `sd` in `hypothesize()`?

[2017-07-20 17:52] beanumber commented on #37
Oooh, yeah. Can we make a rule that all the parameters to `hypothesize()` be Greek?

[2017-07-20 17:54] ismayc commented on #37
I'm down with this but what should the Greek letter for median be though?

[2017-07-20 19:19] ismayc commented on #36
Looks like `...` is the way to go.  [Here](https://github.com/ismayc/infer/blob/master/examples/flights_examples.md) are many examples using a subset of `nycflights13::flights` with and without `na.rm = TRUE` included.  There is some numeric missing data in this example and I suspect that missing categorical data should also work but I haven't tested it.

[2017-07-20 22:10] mine-cetinkaya-rundel commented on #37
I like the greek letter approach too (so sigma instead of sd), but for those where there isn't an obvious greek letter (like median), I'd still suggest using lowercase to avoid hard-to-explain errors encountered by students.

[2017-07-20 22:12] mine-cetinkaya-rundel commented on #32
I like this approach. I thought I added a comment here earlier, clearly not. I had meant to say that it doesn't seem worthwhile to wrap a ggplot call, or a ggplot + geom_vline code in another function. If we want to do shading, on the other hand, that might be code we don't want to confuse students with.

[2017-07-21 02:44] andrewpbray commented on #32
The main reason for the wrap would be to accommodate approximation methods. My sense is that if they were to recreate the same ggplot on their own, the syntax would have to look pretty different and some of the similarities between the methods would be lost.

[2017-07-21 15:09] ismayc opened #42 "Including transformed statistics like t and z"
It seems that if we are planning to also include approximation methods that use the _t_ and standard normal distribution that we should also include something like

Two categorical (2 level) variables

[code]

or

One numerical (one mean)

[code]

I think this is especially needed since if we'd like to plot both the computation and approximation methods on the same plot.  Would something like this

[2017-07-23 21:28] hardin47 opened #43 "calculating the observed statistic"
@mine-cetinkaya-rundel @andrewpbray @beanumber @nicksolomon

As I finish up the permutation test, I realize that calculating the linear model test statistic (slope) is not consistent with the structure of the `infer` package.    Please vote on (A), (B), (C), or (D) and let @ismayc (or @andrewpbray ??) know if / how the `infer` package should be updated.

First:
[code]

(A)
Very tidy, but I would h

[2017-07-23 22:00] hardin47 opened #44 "calculating statistic from *random samples* drawn from a population"
@andrewpbray @mine-cetinkaya-rundel @beanumber @ismayc @nicksolomon

Another thing I do in my course is to create a sampling distribution of slopes taken from a huge population.  I do this in chapter 1 before I've done any inference.  The idea is just to visualize how the slopes change from sample to sample *outside* the context of making specific hypotheses.

Again, would appreciate your vote on

[2017-07-24 19:30] andrewpbray commented on #43
I don't have a strong feeling on this, but I'd be inclined to do a slight riff on C.

[code]

I think creating and saving the model object `m1` is generally a handy thing to do. The second line is kinda unfortunate, I agree. Could be replaced with syntax from B, which I also like.

[2017-07-24 19:42] andrewpbray commented on #44
Seems like this might be a good motivation for the bootstrap interval on the slope - is that how you're using it?

Am I right in thinking that by the current code, it's possible that the same observation is used in multiple samples?  How will you be explaining that? I think we *could* build out `generate()` so that it has all the components to simulate from any generative model `reps` number of ti

[2017-07-24 20:40] ismayc commented on #43
I think I like a combination of what Andrew put and (B) modified a bit:

[code]

Without the `pull()` at the end `obs_slope` is left as a 1 x 1 data frame.  This isn't really easy to pass into a plot or p-value calculate since it would need a dollar sign:  `obs_slope$estimate`.  `dplyr` keeping the same type of object (a data frame) as it starts with can be an annoyance in situations like this.

T

[2017-07-24 20:53] andrewpbray commented on #42
I think the syntax you propose makes sense.

The last question you ask: could this be solved when we move to the `stat` argument taking functions? If it does, and if we auto-load in a stock of functions including `tstat()` and `zstat()`, then those functions should also be around for when they compute the observed statistic. Something like:

[code]

[2017-07-24 21:05] ismayc commented on #42
Interesting.  Yes, I think it might for the observed statistic.  This also relates to the observed stat calculation in [this issue](https://github.com/andrewpbray/infer/issues/43). I wonder if `calculate()` should have an `obs_stat` argument that will also do a `pull()` to get it to be a vector instead:

[code]

We could also have `diff_in` be a function so that we wouldn't need to have a differen

[2017-07-25 00:10] mine-cetinkaya-rundel commented on #42
How would we catch if a student specifies `obs_stat` instead of `stat`?

I don't have any objections to the `diff_in()` function, though I am not sure what it adds to the learning experience (compared to specifying `"diff in means"`). Can you clarify? Also, wouldn't it need to be `diff_in("median")`, with quotation marks?

[2017-07-25 00:12] mine-cetinkaya-rundel commented on #43
My hesitation against (D) is that it doesn't use `lm()` and I feel like it's such an essential thing (as non-tidy as its default output is) that it would be a disservice to not teach it.

[2017-07-25 00:21] mine-cetinkaya-rundel commented on #44
Agreed, I'd lean towards (A) as well.

[2017-07-25 00:22] beanumber commented on #43
I like @ismayc 's solution best.

[2017-07-25 00:28] beanumber opened #45 "Error in sample.int(length(x), size, replace, prob) : NA in probability vector"
It's late...what am I doing wrong?

[code]

[2017-07-25 00:42] ismayc commented on #45
I don't think you want to specify `p = c(0.5, 0.5)` but rather set how you'd like to assign probabilities:  `p = c("clinton" = 0.5, "trump" = 0.5)`

[2017-07-25 00:51] ismayc commented on #42
I'm still not sold on having a different option to calculate the observed statistic since takes away a lot of the understanding of what the actual calculation of the statistic entails.  I was mostly building off what @andrewpbray had put down.  It does seem like we should at least think about including both options (having the student calculate the observed test statistic on their own AND having a

[2017-07-25 01:57] beanumber commented on #45
Thanks. I got as far as `p = c("clinton" = 0.5, 0.5)` and then gave up!

[2017-07-25 14:44] beanumber commented on #45
So actually this doesn't do what I want it to do. I need to be able to pass `n` to `generate()`. It looks like [here](https://github.com/andrewpbray/infer/blob/master/R/generate.R#L93) we are forcing `generate()` to take `nrow(x)` samples. But in this case my data frame only has two rows. I want to sample from them `n` times, but not `nrow(x)` times.

Can we add that option? Is this what #44 was a

[2017-07-25 14:52] beanumber commented on #34
On that note, will we support exact methods when possible?

[2017-07-25 15:06] ismayc commented on #34
Hmm, that does make sense.  What other than Fisher's exact were you thinking?  I suspect that should be a third option, right?  Computation, approximation, and exact?

[2017-07-25 15:09] ismayc commented on #45
I think this is the same issue as [#44](https://github.com/andrewpbray/infer/issues/44).  I think `rep_sample_n()` is the best way to go for this since you are wanting to create a sampling distribution instead of a null or bootstrap distribution.

[2017-07-25 16:17] beanumber commented on #34
Yeah, exactly. `binom.test()` would be another. If they don't exist (or aren't known) then we can just skip them.

[2017-07-26 20:57] hardin47 commented on #43
Ok, I'll go with:

[code]

Thanks!!

Maybe for a different day... but I'd push back on @ismayc saying there is no hypothesis.  You are right that I'm only calculating a statistic (and not doing inference, therefore no hypothesis).  However, I am calculating the statistic associated with the test of independence.

For example, let's say I wanted the statistic of the difference in two means.  Even i

[2017-07-26 21:04] ismayc commented on #43
Ah, yes.  I see your point @hardin47.  Which statistic is calculated does depend on what the parameter is you are using in your hypotheses.  I agree.

[2017-07-26 21:05] #43 closed

[2017-07-26 21:17] hardin47 commented on #45
Right, I think @beanumber  and I are talking about the same thing.  The idea is to motivate the bigger concept of samples from a population (not specifically permutation tests or bootstrapping, but just the simpler idea that different samples give different statistics).

I do create the big population using `rnorm`, but no, I don't tell/show them that.  I just say we have a huge hypothetical popul

[2017-07-26 21:17] hardin47 commented on #44
Right, I think @beanumber  and I are talking about the same thing.  The idea is to motivate the bigger concept of samples from a population (not specifically permutation tests or bootstrapping, but just the simpler idea that different samples give different statistics).

I do create the big population using `rnorm`, but no, I don't tell/show them that.  I just say we have a huge hypothetical popul

[2017-07-26 21:17] #44 closed

[2017-10-12 04:41] andrewpbray opened #47 "error messages"
The following cases have arisen that lead to very unhelpful error messages.

1. Problem: `beach_mountain` has more than two levels.

[code]

2. Problem: didn't specify an explanatory variable in a permutation test.

<img width="832" alt="screen shot 2017-10-13 at 9 38 57 am" src="https://user-images.githubusercontent.com/1627362/31556555-6303e1ba-affa-11e7-9180-4e0167fbba6b.png">

[2017-10-12 15:14] ismayc commented on #47
Hmm, what does an appropriate error message look like? Maybe something like "Expecting only two levels in the factor variable"? I've never really thought about this being done on anything but a binary variable?

[2017-10-12 17:03] andrewpbray commented on #47
It seems like in this case it should be `hypothesize` that generates the warning, not `generate`. Maybe: "The factor variable that you have specified has more than the N levels that you've assigned null probabilities to". It's pretty specific, but I can see it also being helpful in the chi-sq GoF test.

[2017-10-12 17:53] ismayc commented on #47
Agreed. Will add to the To-Do list.

[2017-10-15 19:22] ismayc commented on #47
Hopefully fixed in https://github.com/andrewpbray/infer/pull/48

[2017-10-19 21:27] rudeboybert opened #50 "Have any summary function work in calculate"
I really like using The Lady Tasting Tea to motivate hypothesis testing. The following code does the trick:
[code]
However, it would be great if the final stat could be "sum". That way there is one less layer of abstraction between the experiment and the null distribution (students can read off count directly, instead of reading off proportions)

In a more general setting, any many-to-one summary

[2017-10-19 21:33] rudeboybert opened #51 "Only have monochromatic bins in null distribution + p-value histograms?"
In the [Randomization approach to t-statistic](https://infer.netlify.com/articles/two_sample_t.html#randomization-approach-to-t-statistic) example:
[code]
I think having the bin that straddles the test-statistic value (and its negative) have two colors will definitely trip novices out. Is there anyway to have the bin boundaries be the test statistic value (and its negative) by default, so that we

[2017-10-28 17:41] mine-cetinkaya-rundel opened #52 "Do NAs get resampled?"
The `calculate` function takes the `na.rm` argument for the statistic it's calculating. But does this mean at the generate stage, say if we're doing a bootstrap interval, `NA`s from the original sample get resampled? If so, I believe this is not a good idea. Because chances are when we look at the sample size for the original sample those NAs don't factor into it. And a bootstrap sample should be

[2017-10-29 12:09] ismayc commented on #52
The `NA`s from the original sample are resampled in `generate()`. I think it's better for the students/users to handle `NA`s in their original data first instead of this package handling it for them instead.

When you say "original sample" it right now is just using the number of rows in the data frame resulting from `specify()` which may include columns with complete data and also columns like `a

[2017-10-29 13:27] mine-cetinkaya-rundel commented on #52
I completely agree that users should be taking care of their `NA`s and not us, as there may be different decisions that need to be made. So an error or warning is warranted for sure! That being said, I think the bootstrap sample size should be the number of complete cases in that column that is being resampled (or the two columns if specify has two variables) as opposed to the `nrow` of the data f

[2017-10-29 13:37] ismayc commented on #52
I’m inclined to just give an error so that we don’t have to deal with this in multiple scenarios. Maybe even do this at the `specify()` stage so that we can avoid other problems going forward?

[2017-10-29 14:44] mine-cetinkaya-rundel commented on #52
@ismayc that sounds good to me! this might make the `na.rm` option in calculate obsolete, but i don't see a harm in leaving the `...` in there. especially if we'll have true function recognition in there down the line and `...` could be doing so much more than just NA handling.

[2017-10-29 14:52] ismayc commented on #52
Sounds good! I’ll tag the commit here when I have this implemented.

[2017-11-01 00:15] nicholasjhorton commented on #52
I agree that this is a problematic area, since one probably wants to condition on the observed sample size.  Throwing a warning at the least or potentially an error would make sense to me.

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
PO Box 5000, AC #2239
Amherst, MA 01002-5000

[2017-11-01 00:19] ismayc commented on #37
@andrewpbray Can this be closed?

[2017-11-01 00:19] ismayc commented on #45
@andrewpbray Can this be closed?

[2017-11-01 00:19] ismayc commented on #36
@andrewpbray Can this be closed?

[2017-11-01 00:19] ismayc commented on #33
@andrewpbray Can this be closed?

[2017-11-01 00:20] ismayc commented on #32
@andrewpbray Can this be closed?

[2017-11-01 00:21] ismayc commented on #17
@andrewpbray Can this be closed?

[2017-11-01 04:47] #17 closed

[2017-11-01 04:48] #32 closed

[2017-11-01 04:48] #33 closed

[2017-11-01 04:48] #36 closed

[2017-11-01 04:48] #45 closed

[2017-11-01 04:49] #37 closed

[2017-11-04 16:33] mine-cetinkaya-rundel opened #53 "Diff in means/props/medians"
Currently I believe the subtraction is being done in the alphabetical order of the levels if the categorical variable is character, and in the `levels` order if variable is factor. I think we need an order argument for calculate for `"diff in ..."`situations. This is how I had solved this problem in the `inference` function. Happy to do a PR but wanted to see (1) am I interpreting current status c

[2017-11-04 17:12] ismayc commented on #53
I’m on board with this and it makes sense to me. Can you make a pull request to the dev branch? Or would you like this implemented in version 0.0.1 on master?

[2017-11-04 18:17] mine-cetinkaya-rundel commented on #53
I would like it implemented. I think the feature is mandatory, I’m not sure
if there is a better implementation.
On Sat, Nov 4, 2017 at 1:12 PM Chester Ismay <notifications@github.com>
wrote:

--
Mine Çetinkaya-Rundel, Ph.D.
Director of Undergraduate Studies
Associate Professor of the Practice
Duke University, Department of Statistical Science
<mine@stat.duke.edu> mine@stat.duke.edu
<https://stat.

[2017-11-04 23:00] ismayc commented on #53
@andrewpbray: Mine will be sending a pull request to master to implement this. Maybe update the package version to 0.0.2 as well with 0.1.0 having the theoretical distribution stuff on the dev branch?

[2017-11-05 01:14] mine-cetinkaya-rundel commented on #53
For the record, I was wrong earlier, subtraction is done in reverse alphabetical order since `calculate` uses `diff` which works as follows:
[code]

[2017-11-05 02:15] #15 closed

[2017-11-05 03:07] mine-cetinkaya-rundel opened #54 "Student/teaching experience with generate type"
I'm using `infer` in my in-class teaching this semester, and I can't yet definitively say how learning is going, but in general based on informal observation, seems ok.

However one type of question I've been getting repeatedly is "How do I know when to use which type for generating samples?". This is a good question of course, and the answer leads us to discussing differences. But what I'm observ

[2017-11-06 16:30] andrewpbray commented on #54
I have had a similar experience this semester - that the distinction between the computation-based methods isn't very clear for them so the syntactic specification of the type is difficult to remember.

One option would be to lump "permute" and "simulate" into "simulate" since we are simulating new data sets under the null using permutation; the other type, then, is "bootstrap".

A second option w

[2017-11-06 16:45] mine-cetinkaya-rundel commented on #54
@andrewpbray That is indeed how things worked in the `inference` function I wrote. But some comments on that had been that it's a bit black-boxy. I guess the question is: Is the difference between the different simulation methods an important learning goal? I think so, as I'd expect students to be able to explain to me how they would simulate it. But it's the labeling, the terminology, that makes

[2017-11-06 16:56] andrewpbray commented on #54
Hmm, yes, I think being able to go through the process to envision what a world would look like under H0 and how to simulate it is a learning goal. Maybe not the most important one in inference, but its up there. Yeah, the question is how much of that should make it's way into the syntax.

@rudeboybert I don't remember: are you using `infer` this semester?

[2017-11-06 17:06] rudeboybert commented on #54
Yep! Sampling started today, so my test drive of `infer` is right around the corner!

[2017-11-07 20:35] ismayc commented on #51
@rudeboybert I'd love to figure out a good way to implement this. It seems like a really tricky task though. I think in order to program it, you'd need to first check to make sure that the `obs_stat` doesn't fall outside of the range of the `stat`. If it does, you just do the usual binning as you wish.

If it doesn't, how could we set up the bins to go from
1. the minimum value of `stat` to
2. (a)

[2017-11-07 20:38] ismayc commented on #51
It seems like the internal `ggplot2` function of `bin_breaks_bins()` provides some guidance but it still seems really, really tricky: ```bin_breaks_bins <- function(x_range, bins = 30, center = NULL,
                            boundary = NULL, closed = c("right", "left")) {
  stopifnot(length(x_range) == 2)

  bins <- as.integer(bins)
  if (bins < 1) {
    stop("Need at least one bin.", call. = F

[2017-11-07 20:39] mine-cetinkaya-rundel commented on #51
Another option would be to do something like this:

<img width="389" alt="screen shot 2017-11-07 at 3 37 55 pm" src="https://user-images.githubusercontent.com/5965649/32516540-ad6a074e-c3d1-11e7-91d7-f4b236761c5d.png">

Obviously based on the simulated null as opposed to theoretical (so underneath there is a histogram instead of normal curve) but we just shade beyond the observed over the whole pl

[2017-11-07 20:46] ismayc commented on #51
@rudeboybert: Do you think having a bin cut in half would be OK for students?

@mine-cetinkaya-rundel I like this option much, much better than the current shading scheme! Much easier to decipher and really makes it clear what the p-value corresponds to I think.

[2017-11-07 21:22] ismayc commented on #51
Any thoughts on colors? I prefer green to red when working with p-values since I want to try to have students think about green as being "GO!" in looking at the p-value, but I'm open to using red as Mine did above. Here are some examples of what the shading looks like for three types of hypothesis test directions with the density overlay:

![rplot1](https://user-images.githubusercontent.com/921561

[2017-11-07 21:27] mine-cetinkaya-rundel commented on #51
Do we want/need the density overlay? I think no for simulation based inference since we directly calculate the p-value from the histogram.

For the last figure, I purposefully had the bold line on one side only to indicate the location of the observed sample stat. I'm not wedded to that idea, but I thought it's important to show the other side is just a mirror image, not based on an observed sampl

[2017-11-07 21:41] ismayc commented on #51
We don't have to have the density overlay, but it is an option in `visualize()` and that's what I was currently testing there. I do agree that I like to have ONLY the observed stat come through as a bolded vertical line. Here is an example without the density overlay.

![rplot4](https://user-images.githubusercontent.com/9215614/32519320-38650814-c3c1-11e7-9c81-02b98b84a227.png)

Agreed that the li

[2017-11-07 22:41] rpruim commented on #51
This is a little bit tricky to do "right" -- and you may have to decide which elements of "right" matter most to you.

I wrote code in `mosaic` to do multi-colored bins in `lattice` histograms, but in general it isn't really a very good idea since it can violate the "area = probability" maxim that defines histograms and density curves.  Here's why:  Suppose you have a bin over the interval [a, b]

[2017-11-07 23:05] rudeboybert commented on #51
I definitely prefer the vertical splitting of bars instead of the horizontally splitting of bars as a short-term minimally viable solution, as a little supplementary explanation will get the correct point across. But in the longer term once the bigger fish are fried, having the appropriate binning scheme will yield graphics that are stand-alone and self-explanatory.

[2017-11-08 00:56] mine-cetinkaya-rundel commented on #51
@rudeboybert Would this require having bins of altering widths? If so, I can see it being even more confusing. Alternatively it would require somewhat non-standard binwidths/ticks, correct? Not sure if either of these are a huge improvement but we could always prototype and see. I guess I'm just having difficulty picturing what they would look like.

[2017-11-08 01:03] mine-cetinkaya-rundel commented on #51
Also on the issue of colors -- I am completely impartial, but previously I had used red for p-values (red -> reject) and green for confidence intervals (green -> contain). I think we can go with either though.

[2017-11-08 01:10] beanumber commented on #51
Not red and green on the same plot though, right?

https://en.wikipedia.org/wiki/Color_blindness#Red.E2.80.93green_color_blindness

[2017-11-08 01:12] ismayc commented on #51
For sure! I will be nice to any color-blind folks in any vignettes/examples.

[2017-11-08 01:39] mine-cetinkaya-rundel commented on #51
@beanumber No, not on the same plot. I didn't think we would show p-value and confidence interval on the same plot anyway.

[2017-12-22 18:12] andrewpbray opened #56 "bug for one prop tests"
It appears that if you're working w a two-level categorical variable, it's totally fine to assign just one null value of a proportion.

[code]

We're currently throwing an error message, however, when you try to do a one-prop test on a variable that has many levels. If you convert the GoF example:

[code]

[2017-12-22 18:15] ismayc commented on #56
@andrewpbray Not quite sure how we should handle this. I think I'd be inclined to change the error message saying that one-proportion tests only work on variables that have two levels. I don't think we should assume that a bin of say "not 4" should be made and have the user make the change to a two level variable instead.

[2017-12-22 18:31] andrewpbray commented on #56
Hmm, my inclination is to make this sort of thing possible by doing that conversion that you mention inside `hypothesize` (it could also live in `generate` I guess). One reason is just to save the extra line that contains the `mutate`. A second is that this sort of thing _is_ currently possible when forming a confidence interval (where there is no `hypothesize`). Of course, we could propagate this

[2017-12-22 18:34] ismayc commented on #56
I think I'm OK with that as well, but we should add a warning or a message in the output that all other levels have been assigned to "failure" since I think some students may incorrectly do this on a wrong variable and then have results they think are correct. Maybe I'm over-thinking it though.

[2017-12-22 18:41] andrewpbray commented on #56
That could be a sensible thing.

Here's another reason to make it possible: I just created a `geom_bar` of a variable and it showed just two bars, so it should be kosher for our existing code, right? Nope - it ended up giving the same error message because there were old levels that were still there despite filtering out all of those other obs.

[2017-12-22 18:59] ismayc commented on #56
Can you provide a reproducible example of this? I'm not sure I follow.

[2017-12-22 19:07] andrewpbray commented on #56
[code]

[2017-12-22 19:10] ismayc commented on #56
Hmm, that's really more a funkiness with how `dplyr` handles things, isn't it?

[code]

[2017-12-22 19:12] ismayc commented on #56
Maybe we could check to see if levels have any values and then proceed as needed?

[code]

[2017-12-22 19:17] andrewpbray commented on #56
Yeah, it's definitely a `tidyverse` thing - ignoring non-present levels of factors.

I guess this gives us two issues to decide:

1. Should we allow one-prop tests in settings where there are more than two levels that have obs.
2. If not, then we need to build in the functionality so that this example doesn't error out (so that it ignores non-present levels like the rest of the tidyverse).

@mine-

[2017-12-26 16:36] mine-cetinkaya-rundel commented on #56
I think for learning purposes my answer to (1) would be no, but any examples we write should have a best practices recommendation for releveling categorical data. So if I have a multi-level explanatory variable but I want to do a one-prop test I should first have to create a new variable that is binary and then use that for the test. However, if that 3rd level is NAs, I think we should handle that

[2017-12-26 19:16] mine-cetinkaya-rundel opened #57 "Success should always be defined"
In working on a solution for #53 I realized that if `success` isn't defined by the user we make an assumption and use the first level as success. I don't think this is a good approach because it makes the function "just work" without the student properly formulating the inference chain. I propose removing https://github.com/andrewpbray/infer/blob/f034a8629dd42c83d4fbb33dd1b80324262dbb12/R/calculat

[2017-12-26 20:15] andrewpbray commented on #57
Yeah, changing around those default makes sense to me.

One thing that's frustrating is that in the one sample case, we have a different and maybe more compact way of specifying this sort of thing higher up in the chain:

[code]

I guess we're addressing another issue here, but another option for the one sample case where the parameter is fully specified in `hypothesize()` would be to use somethin

[2017-12-26 20:21] mine-cetinkaya-rundel commented on #57
I was just about to comment on this @andrewpbray. That it looks odd to specify in both places -- in `hypothesize` and in `calculate`. But I don't think we want to specify in `hypothesize` fully because then it looks much more different to do a confidence interval. So I think we do need to do with (what appears to be) the redundant route. It would look something like this for the one prop case:

[c

[2017-12-26 20:23] andrewpbray commented on #56
I'm lean towards saying yes to (1), but I understand your guys' argument and am fine implementing it that way.

So I think the only to-do item from this issue is to be sure that it works on factors with more that 2 levels but where only 2 have obs. I'll test that out and add that modification if needed.

[2017-12-26 20:25] andrewpbray commented on #57
Yep, I agree with your assessment. `p = c(1 = 0.25)` breaks my brain, so I say we hold our noses and go with strings in both places.

Such are the compromises when trying to make onetruetest =/

[2017-12-26 20:30] mine-cetinkaya-rundel commented on #57
Maybe the right thing to do is to "specify" the success in the `specify`? I don't know if this is too big a change, but when I'm thinking about formulating a problem I'd think about what the success is at the beginning, not at the end. Like if I want to do a confidence interval for the proportion of Democrats, I would think "I'm working with the party variable, and I'm interested in the Democrat l

[2017-12-26 20:39] andrewpbray commented on #57
Hunh, interesting idea. I had thought of `specify()` has a narrowly disguised `select()`, but this does seem like a very natural way to solve this problem. So let's see, we could have this:
[code]

That way we'd only need to use the named vector thing for the GoF case.

I'm for it. @ismayc ?

[2017-12-26 21:35] ismayc commented on #57
I like adding the `success` argument to `specify()`.

[2017-12-27 01:19] andrewpbray commented on #57
Hopefully this is addressed in the current PR.

[2017-12-27 01:21] andrewpbray commented on #53
@mine-cetinkaya-rundel what's the status of this? The addition of the order argument should work with the new formulation of success in specify.

[2017-12-27 01:37] mine-cetinkaya-rundel commented on #53
I'm working on it -- that's where the other question came about.

[2017-12-27 01:40] mine-cetinkaya-rundel commented on #57
@andrewpbray I didn't realize you were working on it. I was independently too. I'm going to wait for this PR to be merged to rework the `order` functionality then.

[2017-12-29 23:55] andrewpbray commented on #57
Closed by fd5bbf788e6d17ad8c327edfb662b014237b014a.

[2017-12-29 23:55] #57 closed

[2017-12-31 01:04] ismayc commented on #54
I think we could actually use assertions to help out with this a bit and help the students understand the mistakes they are making (though some will still want to turn this into a flowchart. Here's an example that should be calculated using a one-sample chi-square but `stat = "mean"` was chosen instead:

[code]

[2018-01-04 22:16] rudeboybert opened #64 "assertive package is not auto-installed"
When trying to run
[code]
I get `Error in loadNamespace(name) : there is no package called ‘assertive’`

Here is my `sessionInfo`
[code]

[2018-01-04 22:20] ismayc commented on #64
Thanks, @rudeboybert. I have moved `assertive` to `Imports` and will send a PR to `master` soon.

[2018-01-04 22:57] ismayc commented on #64
This should be fixed now. Feel free to reopen.

[2018-01-04 22:57] #64 closed

[2018-01-04 23:26] rudeboybert opened #66 "Discrepancy between README and calculate() examples of diff in proportion"
Running `?calculate`, the example works:
[code]
However the README example doesn't
[code]
as we need `specify(am ~ vs, success = "1")` and `calculate(stat = "diff in props", order = c("1", "0"))`. Perhaps set default values for `specify(success)` and `calculate(order)`?

[2018-01-04 23:31] ismayc commented on #66
@rudeboybert I think we are going to force users to be explicit about setting these options as we've found that's the easiest to test for and probably a good habit.

@andrewpbray I'll make a pull request updating the README shortly.

[2018-01-04 23:32] andrewpbray commented on #66
Thanks for catching that @rudeboybert

[2018-01-04 23:37] rudeboybert commented on #66
Same goes for the CI example on the README. Original:
[code]
This works. However the `specify()` is not consistent, as the following doesn't work when specifying (nice! verbs!) `specify(..., success = "1")`
[code]

[2018-01-04 23:46] andrewpbray commented on #66
This one shouldn't have `success` since `mpg` is numerical. This is a `diff in means` instead of a `diff in props`.  I'll definitely add in that `order()` argument, though!

[2018-01-05 00:03] andrewpbray commented on #66
closed by a63626b8d569e4581623e818ddcaa6453396b96d.

[2018-01-05 00:03] #66 closed

[2018-01-05 00:08] sckott opened #68 "Some feedback"
* ran `goodpractice::gp()` only thing of note for later is may want to stick to 80 line width across all code, doc lines, and test files
* i believe Title in description file needs to be sentence case
* license: CC0 is valid license now on CRAN - but perhaps consider a more software specific license like MIT or GPL for example
* http://github.com/andrewpbray/infer to https
* add a code of conduct?

[2018-01-05 17:28] andrewpbray commented on #68
Scott, thanks for this. It’s hugely helpful. We've addressed several of these in the most recent PR and will continue to keep them in mind as we refine the error behavior.

I have a couple of follow up questions.

- What’s the difference between sentence and title case? It looks to me like ours is sentence and tidy verse uses title.
- Regarding licenses, I noticed that the tidy verse packages actu

[2018-01-05 17:40] sckott commented on #68
Ah, on case, i wasn't quite sure, if check `--as-cran` doesn't warn about it, then it should be good.

Good idea on the actual license file, i think you do need to rbuildignore it though, see   https://github.com/tidyverse/tidyr/blob/master/.Rbuildignore#L13

[2018-01-05 18:20] ismayc commented on #39
@andrewpbray Can we make this change today too to update the pkgdown?

[2018-01-05 18:21] #53 closed

[2018-01-05 18:22] ismayc commented on #56
@andrewpbray Did we implement this?

[2018-01-05 18:29] #19 closed

[2018-01-05 18:31] #18 closed

[2018-01-05 19:02] andrewpbray commented on #56
Yep.

[2018-01-05 19:02] #56 closed

[2018-01-08 17:20] ismayc opened #71 "Couldn't catch 'em all"
@andrewpbray It appears we called both vignettes "flights example" and the second one should be "mtcars example": https://cran.r-project.org/web/packages/infer/index.html

[2018-01-08 17:22] andrewpbray commented on #71
It's funny, I just downloaded the package from CRAN and did `?generate`. Hmm...not a very good description of what it does.

A work in progress =).

[2018-01-08 18:37] ismayc opened #76 "Fixing travis"
@andrewpbray @beanumber Not quite sure why Travis isn't working anymore. Any thoughts?

https://travis-ci.org/andrewpbray/infer

https://github.com/andrewpbray/infer/blob/master/.travis.yml

<img width="934" alt="screenshot 2018-01-08 10 34 33" src="https://user-images.githubusercontent.com/9215614/34686182-a9476634-f45f-11e7-860e-4951b0cd99d5.png">

[2018-01-08 19:01] beanumber commented on #76
I think @andrewpbray needs to turn on Travis checking via their website.

[2018-01-09 17:22] #68 closed

[2018-01-09 23:17] andrewpbray opened #77 "assertion to add"
More informative error message needed out of `specify()`:

[code]

`Adding missing grouping variables: year`

[2018-01-09 23:27] andrewpbray commented on #77
nvm

[2018-01-09 23:27] #77 closed

[2018-01-09 23:35] andrewpbray opened #78 "Fix how specify() deals w multi-level factors"
[code]

I'd like to make this code work in a situation like this when there are old levels with no observations. I'll add re-releveling within `hypothesize()`.

[2018-01-10 01:19] mine-cetinkaya-rundel commented on #78
I thought we had decided in #56 that this should happen in the data prep/cleaning process, not in the inference functionality?

[2018-01-10 01:25] andrewpbray commented on #78
My take-away from that issue was that we would require only allow tests on one proportion for factors where there were only two levels present. If the factor inherited levels that are no longer present, we'd allow it, in a similar manner to how `geom_bar()` will just provide bars for the levels that have observations. I should still (I think) throw an error if they try to test one proportion on a

[2018-01-10 01:33] mine-cetinkaya-rundel commented on #78
Then I'd think this check should happen in `specify`. Do `droplevels` on the specified variable, if there are more than 2 levels throw an error there?

[2018-01-10 01:44] andrewpbray commented on #78
The level-dropping happens automatically through the process of level-matching in `parse_params()` and `generate()`.  `specify()` does currently throw an error:
[code]

[2018-01-11 15:08] topepo commented on #24
I think Hadley is deferring that type of work to [`rsample`](https://topepo.github.io/rsample/) and friends. I don't know that `modelr` is going to get any serious updates.

I was talking to @mine-cetinkaya-rundel yesterday; we should meet at the RStudio conference and see if we can coordinate some things. `infer` does some things that I thought I would try to do with `rsample`. However, it looks

[2018-01-11 15:46] ismayc commented on #24
Sounds great, @topepo. Many of us will be at rstudio::conf and we’d love to chat about how we could leverage `rsample` with `infer` and talk more about our ideas for the inner workings of some of the core functions here.

[2018-01-12 01:24] rudeboybert opened #84 "Add website to GitHub repo page"
@andrewpbray: Indulge @ismayc and my inner pedants and add the `pkgdown` <https://infer.netlify.com/index.html> site to the GitHub repo front page by editing here:
<img width="998" alt="infer_2" src="https://user-images.githubusercontent.com/4574203/34855387-30a5c9ea-f6f4-11e7-8c39-c4f42a124b48.png">

[2018-01-12 18:20] #71 closed

[2018-01-12 18:28] ismayc commented on #76
Jim Hester has a temporary, cautionary work around:

[2018-01-14 04:01] ismayc commented on #78
@andrewpbray Don't we just need to apply the `droplevels()` function to the variable in `specify()` and the other verbs as needed? I got this idea from [StackOverflow](https://stackoverflow.com/questions/1195826/drop-factor-levels-in-a-subsetted-data-frame).

[2018-01-14 04:04] #1 closed

[2018-01-14 04:05] #2 closed

[2018-01-14 04:06] #3 closed

[2018-01-14 04:10] #14 closed

[2018-01-14 04:11] #20 closed

[2018-01-14 04:11] #21 closed

[2018-01-14 04:12] #23 closed

[2018-01-14 04:20] ismayc commented on #76
Temporarily we decided to only have `release` going while this is fixed. We'll add the others back whenever we send to CRAN next.

[2018-01-14 04:52] ismayc commented on #76
@andrewpbray We can add the others back in now since they have removed the serialization error: https://stat.ethz.ch/pipermail/r-devel/2018-January/075371.html

[2018-01-14 17:58] #84 closed

[2018-01-14 20:03] mine-cetinkaya-rundel commented on #52
Just saw the still pondering label on this. Pondering on implementation or whether the change should be made? If the latter, the answer is yes. Let me know if I can help to implement this change.

[2018-01-14 20:05] ismayc commented on #52
@mine-cetinkaya-rundel Just pondering on implementation. If you have ideas, please do go for it!

[2018-01-15 06:51] #76 closed

[2018-01-15 06:55] ismayc opened #93 "Adding tests and assertions for print methods and rep_sample_n"
@beanumber Could you write `testthat` tests for the `print.infer` function in the `pipe.R` file? I'm not exactly sure how to write tests that print methods work and couldn't find any examples elsewhere?

@mine-cetinkaya-rundel Could you similarly write some tests and/or add some comments to the `rep_sample_n` code for clarity? I can't quite follow exactly how it is done. @andrewpbray Did you add i

[2018-01-15 07:23] ismayc commented on #93
Here is some further help on exactly which lines needs to be tested:

https://codecov.io/gh/andrewpbray/infer/src/oldrel-patch/R/rep_sample_n.R
https://codecov.io/gh/andrewpbray/infer/src/oldrel-patch/R/pipe.R

[2018-01-15 13:26] beanumber commented on #93
I'll take a look.

[2018-01-17 00:13] ismayc opened #94 "`success` argument is should be checked with `"diff in means"`"
@andrewpbray can provide an example

[2018-01-17 17:55] hardin47 opened #95 "problem with `calculate` (maybe a tbl issue???)"
@andrewpbray  @ismayc

The `calculate` function is giving me the following error:

`Error in .subset2(x, i, exact = exact) : invalid subscript type 'symbol'`

Would love any thoughts on how to fix the problem.  Nothing like classes starting **today**!

### Debugging:

The following code works perfectly for me on my laptop.  It does not work on Pomona's server (it gives the error above at the `calc

[2018-01-17 17:57] ismayc commented on #95
@hardin47 I suspect this is an issue with tidyverse package updates. Could you update all your packages and share the `sessionInfo` so we can try to track down where the problem is at?

[2018-01-17 17:57] andrewpbray commented on #95
This may be related to an issue with the package not building on certain older r releases on windows. The short

[2018-01-17 17:58] andrewpbray commented on #95
@hardin47 I hope that fixes it. My other thought is that your server is running one of the older version of R that the package doesn't work with, but it looks like you're all up to date there.

[2018-01-17 18:00] ismayc commented on #95
@andrewpbray Can you glance over the two different `sessionInfo` results here to figure out the different versions that may be leading to this?

[2018-01-17 18:05] andrewpbray commented on #95
I'm need to head off to meetings, which will be going back to back for most of the day, but I'll look into this as soon as I'm done this evening.

[2018-01-17 18:07] ismayc commented on #95
@hardin47 Was the package installed using `install.packages("infer")` or `install_github("andrewpbray/infer")`?

[2018-01-17 18:08] hardin47 commented on #95
From CRAN.

I've tried updating packages on the server, and they seem to all be updated... I'm going to try comparing packages also (see below).

Also, my laptop sessionInfo wasn't complete.  Here it is in a better format.

[code]

[2018-01-17 18:13] ismayc commented on #95
@hardin47 Thanks. It's a bit of a long shot but do you mind testing to see if installing from GitHub fixes it?

[2018-01-17 18:20] hardin47 commented on #95
Seems to be exactly the same with CRAN or GitHub.  I also can't find any packages that are different.  Blech.

[2018-01-17 18:21] ismayc commented on #95
The only thing I can see is `lazyeval` is version 0.2.0 on the server and 0.2.1 on your laptop?

[2018-01-17 18:30] hardin47 commented on #95
that didn't fix it.

[2018-01-17 19:09] ismayc commented on #95
How about updating `tibble` to 1.3.4? Actually do you might just updating all the packages on the server? I'd like to better understand if it is R, Linux, or the packages causing this problem.

[2018-01-17 21:56] hardin47 commented on #95
I have to admit that I don't know whether or not I can do this.  I don't have administrative access to the server, and I'm also really confused about packages that I installed to my personal space on the server vs. packages that the admin installed for everyone.  Let me try to do some work on my end to figure out where/how the packages are being updated.

[2018-01-17 22:47] andrewpbray commented on #95
Good news and bad news: I was able to replicate this bug very easily on the Reed server. The good of it is that I'll be able to update all of the packages right now then try again to see if that fixes things. Stay tuned...

[2018-01-18 00:34] andrewpbray commented on #95
Well, I updated all of the packages on the server and it's still throwing the same error. Probably not coincidentally, another similar example in the vignette that was giving us trouble also doesn't work on the Reed server:

[code]

Seems like we'll need to need to actually sort this bug out properly instead of the quick-fix that we did in preparation for CRAN submission. I'm almost sure it has to

[2018-01-18 00:54] ismayc commented on #95
@andrewpbray Can you confirm which version of R is running on the Reed server?

[2018-01-18 00:54] andrewpbray commented on #95
I think I've got it figured out. PR is coming shortly.

[2018-01-18 00:56] ismayc commented on #95
@andrewpbray Can you add back in the vignettes that weren't working with your PR and we can let Travis go after applying them to `oldrel`?

[2018-01-18 00:56] andrewpbray commented on #95
I think the error is in the assertion:

[code]
`col` is a symbol, whereas list subsetting in that fashion wants a string, so wrapping it in `as.character()` seems to work.

[2018-01-18 00:58] ismayc commented on #95
I thought it was that as well, but it isn't clear from Jo's example that code executes. Hopefully that's the fix it takes!

[2018-01-18 03:03] ismayc commented on #95
Looks like Travis is saying this works now with this merged PR: https://github.com/andrewpbray/infer/pull/96. @hardin47 can you try to install via GitHub and let us know if the error persists?

[2018-01-18 03:19] andrewpbray commented on #95
Works on the Reed server.

[2018-01-18 04:29] ismayc commented on #95
@andrewpbray Do we have tests in testthat to check this in addition to the vignettes? I can’t remember and am away from my computer? Might be worthy adding back in before we send 0.1.1 to CRAN.

[2018-01-18 05:06] andrewpbray commented on #95
No, this bug didn't trigger any of the tests, I guess because it's on an assertion. I mean, we could essentially put this example in a test - would that be helpful? And is there anything else before we send to CRAN?

[2018-01-18 05:29] ismayc commented on #95
Hmm, we might need to check previous commits. I think calcukate() was at 100% coverage before: https://codecov.io/gh/andrewpbray/infer/src/master/R/calculate.R . I will see if I can track it down tomorrow. I don’t think we have anything else for CRAN at this point.

[2018-01-18 12:53] hardin47 commented on #95
`calculate()` works on my server now.  yay!!!  thanks a zillion for all your help and quick replies.  you guys are the best.

[2018-01-18 12:54] nicholasjhorton commented on #95
The old "when in doubt, throw an 'as.character()' around it" fix.  Nicely done!  I look forward to exploring infer more in the coming weeks and months.

[2018-01-18 19:55] #95 closed

[2018-01-18 20:01] ismayc opened #98 "Matching stat and parameters"
I think we'll need to add checks to ensure `stat = "mean"` corresponds to `mu = 25` and similarly for standard deviation, mean, and proportion examples.

For example, this doesn't produce an error but is pretty confusing to figure out exactly what is going on

[code]

[2018-01-18 20:12] andrewpbray commented on #98
Ah, good point. Once we add a `stat_fun` to `calculate()`, we'll likely need to add a generic `par` argument to `hypothesize`.

[2018-01-18 20:13] ismayc commented on #98
I've added placeholder commented out tests for whenever we implement this matching. Currently they don't error so the tests fail if they are uncommented: https://github.com/andrewpbray/infer/blob/master/tests/testthat/test-calculate.R

[2018-01-20 13:45] hardin47 opened #99 "specify (one prop) if variable is NOT categorical"
`specify` doesn't like to calculate proportions on binary numerical variables.  ideally, it would, but maybe it just doesn't have the capability to do so.  here you go:

[code]

with errors:

[code]

is there a way to tell `specify` that i have two groups and they are numbers?  seems like it is a pretty common setting to have factors coded numerically.

[2018-01-20 15:04] mine-cetinkaya-rundel commented on #99
I think we were thinking that this should be part of the data prep/cleaning
process. Resave the variable as the desired type then feed to specify. Does
that seem reasonable?
On Sat, Jan 20, 2018 at 8:46 AM Jo Hardin <notifications@github.com> wrote:

--
Mine Çetinkaya-Rundel, Ph.D.
Director of Undergraduate Studies
Associate Professor of the Practice
Duke University, Department of Statistical Scie

[2018-01-20 15:05] ismayc commented on #99
Thanks, @hardin47. Hmm, I suppose we could run a check to see if `factor()` on a numerical variable returns two levels and let this code work. We should probably add a warning saying that this conversion has occurred though to be safe. Right now the expectation is that the conversion to factor happens outside the infer pipeline but I agree that is a bit clunky for practitioners: http://infer.netli

[2018-01-20 17:23] andrewpbray commented on #99
I'd be inclined to let this code work. I can't think of any way that this would open up users to doing irresponsible things and we also coerce from character to factor in this situation. Now that I think about it, this will also error:

[code]

So the question is whether we want to coerce integer and logical to a factor in addition to character to factor. I'm inclined to say yes to both, with a wa

[2018-01-20 17:32] mine-cetinkaya-rundel commented on #99
In ggplot2 this is how things shake out:

[code]

[2018-01-20 20:20] andrewpbray commented on #99
That makes sense to me. So we add coercion for logicals but leave integers as is?

[2018-01-20 23:50] ismayc opened #102 "Ensure errors match with tidyverse style guide"
I suspect this will take some iteration but will be really useful to implement: http://style.tidyverse.org/error-messages.html

[2018-01-21 00:28] mine-cetinkaya-rundel commented on #99
That would be my vote.
On Sat, Jan 20, 2018 at 3:20 PM Andrew Bray <notifications@github.com>
wrote:

--
Mine Çetinkaya-Rundel, Ph.D.
Director of Undergraduate Studies
Associate Professor of the Practice
Duke University, Department of Statistical Science
<mine@stat.duke.edu> mine@stat.duke.edu
<https://stat.duke.edu/~mc301/> https://stat.duke.edu/~mc301
<https://github.com/mine-cetinkaya-rundel>

[2018-01-21 00:32] ismayc commented on #99
@hardin47 Since we want to stay consistent with the `tidyverse` to reduce cognitive overload on students, Andrew implemented coercion of logicals to factors but not integers [here](https://github.com/andrewpbray/infer/pull/97/commits/ffef239db8e7d03b6f3cd71d94f9c83727dd697d). Thanks as always for bringing up these issues!

[2018-01-21 00:43] hardin47 commented on #99
Thanks for the quick, thoughtful, and helpful work on this, team!  I agree with all of the logic, and I think you've done the right thing.

@andrewpbray @mine-cetinkaya-rundel @beanumber @nicksolomon:  HOWEVER, much of the chapter I'm trying to modify in the foundations course uses the 0/1 coding.  It seems like if i'm going to implement `infer`, I should do it right which means changing the data

[2018-01-21 00:47] ismayc commented on #99
@hardin47 Could you just run
[code]
to convert it over at the very beginning? Then you can use `vote` as a `factor` and everything will be OK? I'm sure it isn't that easy though, right?

[2018-01-21 00:53] hardin47 commented on #99
It isn't *hugely* different from what you wrote, but yeah, it is slightly more complicated (we have more than one data set, etc.).  The bigger problem is that as I change more and more of the exercises, I'm worried about the instructions and hints, etc.  And I want to make sure that nothing gets lost.

Another example of how the changes will filter down is that to calculate the proportion, we curr

[2018-01-22 15:49] andrewpbray opened #103 "hypothesize not handling NAs in factors well"
Looks like the error is coming out of `hypothesize()`.

[code]
[code]

[2018-01-22 21:43] ismayc commented on #103
Hmm, this is a bit strange:

[code]

[2018-01-22 21:45] ismayc commented on #103
Not sure if you know about it, but `reprex::reprex()` is super-handy for copying-and-pasting code like this.

[2018-01-25 20:16] ismayc opened #104 "chisq.test expected input"
I thought `chisq.test()` required a `table()` input, but it looks like it doesn't? Am I missing something here?

[code]

[2018-01-25 20:42] ismayc commented on #104
Ah, I figured it out. `table()` is required if doing a one sample goodness of fit test, but is optional when doing a two sample.

[2018-01-29 15:44] #104 closed

[2018-02-05 06:18] aarora79 opened #106 "Showing p-values and confidence intervals automatically on charts created using Visualize()"
IMO it would be a nice addition to show the p value and CI interval automatically as annotation on the plot created using the visualize function. Maybe adding a parameter to control this behavior (to display p value or not) along with another parameter to control the position (top-left, top-right, bottom-left, bottom-right) would be good. Default for this new parameter could be set to not display

[2018-02-05 23:37] ismayc commented on #106
Thanks, @aarora79. You can find a developmental version of this at http://chester-infer.netlify.com/articles/two_sample_t.html. We will be working a lot on the `visualize()` function in the months to come.

[2018-02-21 21:51] hardin47 opened #107 "extra arguments to existing functions?"
Is there an easy way to add extra arguments to the existing functions?  A few that come to mind in the mean function include `na.rm=TRUE` and `trim=.1`.

[2018-02-21 21:57] ismayc commented on #107
You should be able to add on the extra arguments in `calculate()` since `...` is passed in there. Here is an example:

[code]

[2018-02-21 22:00] hardin47 commented on #107
yeah, sorry to bug you guys, I just figured it out myself!

[code]

[2018-02-21 22:00] #107 closed

[2018-02-25 19:31] andrewpbray opened #108 "handing of unused factor levels"
Because we're currently using the base `chisq.test` to `calculate()` that statistic, bad things happen when one of the variables considered has unused factor levels. This will create, effectively, a row or column of zeroes in the contingency table, which will yield NaNs when trying to compute expected counts.

Possible solutions:
1. remove our dependence on `chisq.test()` and implement both the va

[2018-02-26 01:15] mine-cetinkaya-rundel commented on #108
Agreed that we need to be doing better job with NAs.

For `chisq.test()` the dependency, if we're keeping it we should make sure the simulate option works exactly how we explain randomization tests. And if getting rid of it we should make sure the code runs at least as fast for larger sample sizes.

[2018-02-28 02:45] topepo commented on #24
Looking around the `infer` code, there would be some benefit of using `rsample` (or an approach like `rsample`). Maybe not surprising:

[code]

The data structures are pretty different though. `rsample_reps` gives you a tibble of objects that can reconstruct the bootstrap samples from the source data (instead `infer`'s stacked and grouped tibble). You'd have to move to `purrr::map_*` to generate t

[2018-02-28 03:17] ismayc commented on #24
Thanks, @topepo. @andrewpbray is working on shifting these over to be list-columns instead of stacked and grouped tibbles so `bootstraps` might be the way to go. We'd be happy to look into getting this going on the next release of `infer`. We'd love to get the objects to be smaller and speed things up too.

[2018-02-28 03:18] ismayc commented on #24
The stacked and grouped tibbles were chosen since we thought list-columns might be a little daunting to students who only had experience with `dplyr` and `ggplot2`, but we have been thinking about ways to communicate this or maybe have a different print method.

[2018-03-05 21:56] daranzolin commented on #102
I volunteer to give this a shot.

[2018-03-05 22:06] ismayc commented on #102
Thanks, @daranzolin. Please let us know if you have any questions along the way. Maybe I'd start with a single function so we can review?

[2018-03-05 22:13] daranzolin commented on #102
Sage advice. Will do!

[2018-03-06 23:35] #7 closed

[2018-03-06 23:39] andrewpbray opened #109 "Calculating an observed statistic"
We're looking into bringing the more fully functioning `visualize()` function into the package from Chester's dev branch, and it has an option to add the observed statistic as a vertical line. The question is, how are we expecting that people will generate that observed statistic? It seems to me like we should make this work:
[code]
Interestingly, it is already very close to working. All we probab

[2018-03-07 05:07] mine-cetinkaya-rundel opened #110 "Not specifying argument names in specify throws errors"
If argument names like `response` or `success` isn't explicitly specified in `specify()`, I get an error. Omitting argument names in other functions doesn't cause this issue. I *think* this is unintentional, but I'm not sure. Thoughts? At a minimum we could do a more informative error message if this is intentional.

[code]

[2018-03-07 10:10] vikram-rawat opened #111 "Could you please add an equalant of the Desc() function From Desctools"
Could you please add an equalant of the Desc() function From Desctools.

So to quickly summarize sum data along with charts. I like the idea of the package. it is a mess to go to different package for different tool.

[2018-03-07 17:21] andrewpbray commented on #111
I wasn't aware of this function. Is the idea that we could run `Desc()` on the output of an `infer` function and we'd get a summary print out describing the object? What do you mean when you say, "summarize sum data along with charts"?

[2018-03-07 17:30] ismayc commented on #110
`formula` is the first argument to `specify()` so when it sees `specify(am, success = "1")` it is expecting `am` to be a formula. `am ~ NULL` works here instead. The error for `"1"` is a bug I believe as I think it is looking back to see if a formula is specified. Not sure of a clear way to change this since `formula`, `response` and `explanatory`, and `success` are all separate parameters here. A

[2018-03-07 17:41] mine-cetinkaya-rundel commented on #110
I'm not against the idea of forcing argument names, but since for the other functions these are not forced, it seems weird to force it for specify.

Is it possible to do something like if that input has `~` it's a formula, of not, it's `response` and `explanatory`? I actually think it would be bad practice to specify a response and explanatory without explicitly saying which is which (at a minimum

[2018-03-07 18:20] ismayc commented on #94
@andrewpbray I'm forgetting what was meant here. Do you recall?

[2018-03-07 18:42] mine-cetinkaya-rundel commented on #94
I think it means we should give an error if it's not specified, as opposed to assuming the first level is the success.

[2018-03-07 19:00] ismayc commented on #108
Another alternative I think is to make it clear to the user that there are missing values: https://stackoverflow.com/questions/27195956/convert-na-into-a-factor-level

[2018-03-07 19:02] ismayc commented on #110
I couldn't figure out a way to re-route if `~` wasn't given and I think @andrewpbray also experimented with this. Maybe the best thing at the moment is to make sure the error messages given are more informative?

[2018-03-07 19:05] mine-cetinkaya-rundel commented on #110
Yeah, that's fine I think.

[2018-03-07 19:13] ismayc commented on #52
@mine-cetinkaya-rundel I don't believe we implemented this yet, did we?

[2018-03-07 19:16] mine-cetinkaya-rundel commented on #52
No I didn't. I just got a chance to start looking at some of the to dos here so I can work on in the next couple days, but feel free to go ahead if you have ideas now.

[2018-03-07 19:18] mine-cetinkaya-rundel commented on #52
Looks like there are a few other `NA` related decisions, would be good to make consistent decisions about them?

[2018-03-07 19:20] ismayc commented on #52
Agreed. I will take a look at summarizing the issues into one common issue this afternoon.

[2018-03-08 00:43] ismayc commented on #111
Does the `skim` function in the `skimr` package do what you are looking for here, @vikram-rawat? https://github.com/ropenscilabs/skimr

[2018-03-08 03:50] ismayc opened #114 "Handling NAs (Meta Issue)"
Since we have quite a few issues related to how to handle missing values / factor levels, I think it makes sense for us to make some decisions about them so we don't find ourselves in conflict later on. (Thanks for the suggestion, @mine-cetinkaya-rundel.)

The other issues are

- [handling of unused factor levels](https://github.com/andrewpbray/infer/issues/108)
- [hypothesize not handling NAs in

[2018-03-08 03:58] mine-cetinkaya-rundel commented on #114
@ismayc I'd also add #52 here.

[2018-03-08 16:31] andrewpbray opened #115 "Do we need an infer class?"
I noticed that we're inconsistent in how we perpetuate the `infer` class, as demo'ed below.

[code]

The class is tacked on the way out the door in specify(), is perpetuated through `hypothesize()`, then get's lost when we take things apart and put them back together in `generate()`.

Do we need this class? The only advantage I can think of right now is if we wanted to replace `visualize()` with a

[2018-03-08 16:35] andrewpbray opened #116 "Suppress Chisq messages"
This is a bit of unnecessary messaging on the part of `chisq.test()` used inside `calculate()`.
[code]
I guess we might want to come back and be sure this message is here when we implement the approximation, but for the computation approach, unless there are any objections, I'll suppress them.

[2018-03-08 17:47] ismayc commented on #116
I believe I have suppressed them already in the `develop` branch. We should check that they aren’t ignored with the theory-based approx though.

[2018-03-11 16:52] sckott commented on #115
By class i assume you mean S3 class?  It's nice to you have your own s3 class (e.g., `infer`) when you want to have a custom print method - and in general when you want to indicate if an object is of a certain type so that you can infer (pun intended) what's in it.

it does make sense that if you have the infer class on some of those outputs, you'd have it on all of them.

[2018-03-13 21:27] hardin47 commented on #114
I think the key for me is that whatever you do, you should tell the user when you do it.  I think that when the code runs and outputs the issue it is easier to learn from than if the code just breaks / doesn't run.   I guess what I just said is that I'd go for the equivalent of `na.rm=TRUE` everywhere.

[2018-03-16 17:39] ismayc opened #120 "infer hex sticker"
I asked Thomas Mock (https://www.linkedin.com/in/jthomasmock/) if he'd be interested in putting together an `infer` hex sticker based on some thoughts that @andrewpbray and I had. Here they are:

![infer-mu2](https://user-images.githubusercontent.com/9215614/37535812-1781e860-2906-11e8-8687-bf9f2efb2b24.png)
![infer-mu1](https://user-images.githubusercontent.com/9215614/37535813-17967c3a-2906-11e8

[2018-03-16 22:46] mine-cetinkaya-rundel commented on #120
Cute, but why a gnome? I don’t get it.

Also, do the colors represent something?
On Fri, Mar 16, 2018 at 5:40 PM Chester Ismay <notifications@github.com>
wrote:

--
Mine Çetinkaya-Rundel, Ph.D.
Director of Undergraduate Studies
Associate Professor of the Practice
Duke University, Department of Statistical Science
<mine@stat.duke.edu> mine@stat.duke.edu
<https://stat.duke.edu/~mc301/> https://stat.

[2018-03-16 22:49] ismayc commented on #120
Because @andrewpbray loves gnomes and Portland, OR has a weird fascination with gnomes. The colors come from the Cascadia flag representing the Pacific Northwest since a lot of the pkg development happened at coffeeshops here: https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_Cascadia.svg/1024px-Flag_of_Cascadia.svg.png

[2018-03-16 23:04] andrewpbray commented on #120
Andrew Bray loves *these* gnomes:

![image](https://user-images.githubusercontent.com/1627362/37548058-9c5bce58-2932-11e8-955e-7d767b50766d.png)

These designs seem a bit too busy - what about just a fir tree on a green background?

[2018-03-16 23:13] ismayc commented on #120
Wasn’t the gnome your idea, Andrew? You academics are no fun :smile:. I’ll let the hipster @rudeboybert decide.

[2018-03-16 23:43] andrewpbray commented on #120
Wet blanket Bray, that's what they call me. =)

[2018-03-16 23:51] mine-cetinkaya-rundel commented on #120
Ok I wasn't going to say anything if Andrew loves gnomes, but since he's not too fond of having them on a sticker either (if I'm reading this right), I'd say it's better to keep it to a design that doesn't need much explanation.

[2018-03-16 23:54] ismayc commented on #120
Fair point. Thomas is going to mock up some ~boring~ less busy designs.

[2018-03-20 06:32] vikram-rawat commented on #111
Desc function does more than just printing a neutral summary. It also projects a nice graph describing many things. Based on the Vector type.

And it is very handy to use

Just run

Desc on a dataset like mtcars and you would understand. I really like the idea of your package and Desctools has exactly the same thing but it is a little clumsy. If you could gather some basic statistics like that pac

[2018-03-20 13:46] ismayc commented on #120
Thomas has added more designs at http://imgur.com/a/ciYR9. What do you think of these?

[2018-03-20 14:47] mine-cetinkaya-rundel commented on #120
I like the last one.

[2018-03-20 17:48] andrewpbray commented on #120
Hey, yeah, these are looking much better. I think I like all of them (minus the gnome), with a slight preference for those without blue. It looks cleaner to have infer beneath the tree, but there's also an argument for having it in the fir (hyuck).

One thing: I wonder if we can find a silhouette of an older doug fir. When they get old, they get the shaggy look that makes them distinctive. When th

[2018-03-20 20:04] ismayc commented on #120
One more go at it: https://imgur.com/a/gaYXR

[2018-03-21 02:57] rudeboybert commented on #120
👍. but I'd lighten the `alpha` on the tree a bit as the green of "infer" will conflict with the black of the doug fir.

[2018-03-21 03:01] rudeboybert commented on #120
Another simplification would be to use the doug fir outline on the Oregon state license plate, which is less busy. But at this point, we're really down to minutiae.

![oregon](https://user-images.githubusercontent.com/4574203/37692965-96a84064-2c92-11e8-93fb-d79d8fbd7695.jpg)

[2018-03-21 03:12] rudeboybert commented on #114
I second @hardin47 and furthermore, there is an consistency argument of just mimic whatever `ggplot2` and `dplyr` do. For example, ggplot2 yield a warning message when it drops the 4 states that have `NA`s for `hate_crimes_per_100k_splc`

[code]

![](https://i.imgur.com/VmUVEvW.png)

Created on 2018-03-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-21 03:21] rudeboybert commented on #109
Sorry, just to be absolutely clear. Are you suggesting:
1. Two separate pipe chains:
    1. One chain to compute the observed statistic; save this in a scalar `obs_stat`
    1. Another chain to both generate the sampling distribution of the statistic and use `obs_stat` to draw a vertical line **OR**
1. The observed statistic and the sampling distribution of the statistic are computed in the same p

[2018-03-23 19:46] ismayc opened #122 "The order of `p` matters for `type = "simulate"`"
[code]

![](https://i.imgur.com/ZEDCbfr.png)

[code]

![](https://i.imgur.com/awna8Lf.png)

Created on 2018-03-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-23 19:58] rpruim commented on #122
Side note:  If the code above is *returning* the plot, then you can keep right on going with `%>%` to modify the plot if you use `ggformula()`.  That would allow people to add additional layers, changes themes, reset limits, use different scales, etc., etc. all in your piped flow.

[2018-03-23 20:03] ismayc commented on #120
No point in me playing the middle person here with this being a public repo. Thanks for all your work on this, @jthomasmock. If you all would like any tweaks, please let the very gracious Thomas know!

[2018-03-25 18:58] ismayc opened #124 "Parametric bootstrap?"
Should we implement this as well? It seems this might be a little problematic if we are assuming we want to have a theoretical distribution for a single bootstrapped mean, for example.

In other words, should the following correspond to (1) a re-standardizing of bootstrapped means or should it be (2) a sampling from an appropriate t distribution?

[code]

For further explanation, we currently impl

[2018-03-25 19:36] mine-cetinkaya-rundel commented on #124
I think (1) only.

Does it matter whether the recentering is done after bootstrap (so recentering of the bootstrap distribution) or before (recentering of the sample)? I thought the definition was the former, but maybe the resulting distribution is the same either way?

[2018-03-25 20:05] ismayc commented on #124
Hmm, currently `calculate(stat = "mean")` does the resampling after the centering takes place. I was thinking that `stat = "t"` would just be a further division by the standard error? I don't think it should matter which way we do it, but I'm not sure from a theoretical perspective if I'm missing something?

[2018-03-26 01:42] ismayc opened #125 "Shading and two wrapper functions implemented"
I've been working on getting shading implemented and have some examples ready for you to review.

- [Chi-squared test example](https://infer-dev.netlify.com/articles/chisq_test.html)
- [Two sample t example](https://infer-dev.netlify.com/articles/two_sample_t.html)

Tests haven't been written yet, but if you'd like to play around feel free to install via `remotes::install_github("andrewpbray/infer

[2018-03-26 01:45] ismayc commented on #125
Additionally, you can see the different "intro stats methods" I have implemented at https://infer-dev.netlify.com/articles/profiles_examples_both_methods.html. `okcupiddata` won't be included in the CRAN version, but has been nice for testing.

[2018-03-26 17:17] jthomasmock commented on #120
Hi y'all! Just wanted to follow up.  I made an alternate with the doug fir from flag w/ gray or green tree to boost contrast with "infer". I can try extracting the doug fir from the Oregon license plate if y'all are not happy with the current tree. Please let me know if you have any other requests and I can do some revisions this week.

![infer_v21](https://user-images.githubusercontent.com/291875

[2018-03-27 16:05] andrewpbray commented on #122
Good catch Chester. I thought I coded the order parsing correctly but apparently not!

@rpruim thanks for pointing that out. I didn't know that `ggformula` enabled that, but it's good to know as we think through how best to have users interact with the visuals.

[2018-03-27 16:20] andrewpbray commented on #125
It looks good to me. Two thoughts:

1. Chihara and Hesterberg's book recommends computing two-tailed p-vals as simply 2 times the p-value that you get from doing the one tail in the direction of the observed stat. In the case on non-symmetric distributions (or computational nulls with lots of sampling variability), this approach will yield a different value than what we're visualizing here. I don'

[2018-03-27 16:24] rpruim commented on #122
You can find examples in the main vignette of the package (which is in another round of edits heading toward an update on CRAN soon-ish).  Here is just one example (from the vignette) of how things look in ggformula:

[code]

![image](https://user-images.githubusercontent.com/722231/37980687-ac36ff48-31b9-11e8-87eb-746a3f1e45a8.png)

Should you find something you would like to do that `ggformula`

[2018-03-27 16:28] mine-cetinkaya-rundel commented on #125
@andrewpbray I do think that doubling the tail area is the right way to go for p-values, but I also agree visualizing it the way we are doing so here is the intuitive way.

For (2), it might not be that hard. At the time that I wrote the inference function I gave up on trying to figure it out, but I do think that it is possible.

Lastly, in the inference function I was using a red for tail areas v

[2018-03-27 16:31] ismayc commented on #125
Feel free to tab a stab at it, but I found it incredibly tricky #106

[2018-03-27 16:36] mine-cetinkaya-rundel commented on #54
I have come back to this again this semester, and I'm still having difficulty in the classroom with various `genrate()` types. I think I have narrowed down the problem: "one of the simulation types is simulate".

In general, we (and people) refer to this as "simulation based inference". I use the word simulation as a general concept, even outside the context of inference. But then, when it comes t

[2018-03-27 16:36] ismayc commented on #125
The question also then asks what do we do if we have both a curve and a histogram in terms of shading. I'm in favor of Mine's original suggestion to just shade using `geom_rect()` as I have implemented here.

[2018-03-27 16:39] ismayc commented on #125
I'm perfectly fine with using whatever color you'd all like. I can also add this an argument (`shade_color`) that gets fed into `visualize()` so you can make it whatever color you like?

[2018-03-27 16:47] mine-cetinkaya-rundel commented on #125
@ismayc Sure, passing a color argument might be fine, but my comment was more about using different colors for p-value vs. confidence interval, since they're conceptually two different things.

[2018-03-27 16:56] ismayc commented on #125
I'll look into changing it to red on Friday unless anyone else is opposed.

[2018-03-27 21:39] rpruim commented on #125
I'm not sure how you plan on implementing this, but I suggest that you do not set the colors but rather map them and add a scale to control the colors.  That way a user can modify the plot by changing the scale to get other colors.

[2018-03-27 22:24] ismayc commented on #125
@rprium Can you tell me more on how this might be done? I’d like to have a darker color appear for the line and a lighter one for the shading at an appropriate transparency.

[2018-03-27 23:34] rpruim commented on #125
I don't know exactly what your plots are going to look like, but here is a simple example (using `ggformula`, but the same thing can be done in `ggplot2`) showing how to use mapping rather than setting.
[code]

![](https://i.imgur.com/nd3ZWA6.png)

[code]

![](https://i.imgur.com/aXWglyu.png)

Created on 2018-03-27 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-27 23:41] rpruim commented on #125
You can do this even if the plot is not returned from your code but just displayed as a side effect.  Here is an example using `xcnorm()`.
[code]

![](https://i.imgur.com/0cITQEb.png)

    #> [1]  91.77573 108.22427
    last_plot() %>%
      gf_refine(scale_fill_manual(values = c("navy", "red")))

![](https://i.imgur.com/bbgGcQW.png)

Created on 2018-03-27 by the [reprex package](http://reprex.tid

[2018-03-28 01:39] ismayc opened #126 "Tagging issues for beginners"
I just found out about this shiny app from Lucy McGowan that is designed to help beginners with supporting open source development: https://github.com/LucyMcGowan/contributr.

[2018-03-29 03:07] mine-cetinkaya-rundel opened #127 "Bug in standard deviation testing"
Running the example from the docs

[code]

I get the following null distribution:

![rplot01](https://user-images.githubusercontent.com/5965649/38067948-8ed2e7e0-32dc-11e8-8d3c-05f6257823b3.png)

That is centered at the sample standard deviation as opposed to the null value:

[code]

I have not investigated the issue yet.

[2018-03-29 22:44] ismayc commented on #127
I think this stems from me not doing the correct shifting in the data in the `bootstrap()` function. What works for the mean:

[code]
doesn't work the same for `median` and `sd`. Any tips on how I should perform this shift would be appreciated.

[2018-03-30 15:11] ismayc commented on #125
@mine-cetinkaya-rundel I've changed the color to red for p-values and I have two-tailed shading working for statistics like "diff in means": http://infer-dev.netlify.com/articles/profiles_examples.html

[2018-03-30 15:45] ismayc commented on #120
@rudeboybert @andrewpbray @mine-cetinkaya-rundel I'm assuming you'd like to have "infer" appear below the tree? Or does it make sense to have it appear on top of the tree as Thomas has here? Unfortunately, that feels more like "on-fir" than "in-fir" to me. How can we best also get the "in" in there? That was my reasoning behind including the gnome or Greek letters to make it clear.

Would love to

[2018-03-30 16:19] mine-cetinkaya-rundel commented on #120
Haha I didn’t get the “in” thing at all. Also, you have to realize even if I did, I’d call it in-tree (I don’t think I can tell the difference between a fir and some other tree). But regardless I’m perfectly fine wherever the text is placed, and I vote we should go with whichever you prefer!

[2018-04-01 04:37] mine-cetinkaya-rundel commented on #127
@ismayc I could try a PR but I'm not sure where to branch off

[2018-04-01 04:46] ismayc commented on #127
I’d branch off `develop`. Hopefully we won’t have any really large deviations like the current situation from `master` after this next release.

[2018-04-05 21:31] andrewpbray commented on #120
I think my preferred formulation is with the black silhouette and the font below.

[2018-04-05 22:13] ismayc commented on #120
@rudeboybert What do you think of Andrew's top pick?

![](https://i.imgur.com/SKbRkob.png)

[2018-04-05 22:15] ismayc commented on #120
I've looked at these too much. Now I don't see a tree. All I see is a [duster](https://www.uline.com/Product/Detail/H-6054/Mops-Squeegees-and-Carts/Professional-Microfiber-Duster-19?pricode=WA9446&gadtype=pla&id=H-6054&gclid=EAIaIQobChMI9pbak5Sk2gIVxrrACh31AAENEAQYAyABEgJ3FPD_BwE&gclsrc=aw.ds)...

[2018-04-05 22:54] jthomasmock commented on #120
![infer_license_plate](https://user-images.githubusercontent.com/29187501/38395804-5738c11e-38fa-11e8-9c90-20f7440f802f.png)

So I tried to recreate the feel of Oregon license plate with this one.

[2018-04-05 23:26] jthomasmock commented on #120
![infer_blank_pic](https://user-images.githubusercontent.com/29187501/38396622-b8d4af1a-38fe-11e8-91a3-8f40785f7fa6.png)

At Chester's request, a simple version w/out the "mountains"

[2018-04-06 18:38] beanumber commented on #120
Ooohh, I like the license plate one a LOT.

[2018-04-08 22:30] andrewpbray commented on #127
It looks to me like `median` is working in the hypothesis test framework, but `sd` isn't. In the bootstrap framework, working with `sd` isn't a problem. To simulate the correct sort of generation under a point null hypothesis that `sigma = c`, it doesn't make sense to just shift by `c`, does it? Something like this seems more appropriate:
[code]
That is, you first rescale the data so that the empi

[2018-04-08 22:34] ismayc commented on #127
That makes sense to me. I naively just assumed the shift would work in general but that isn’t the appropriate scaling. What you have, I think will work.

[2018-04-08 22:38] andrewpbray commented on #127
@mine-cetinkaya-rundel Do you actually use this method in your teaching or in your datacamp course? Have you seen it implemented/discussed elsewhere? If not, we could just strike the functionality because it's a pretty rare procedure.

[2018-04-08 22:44] andrewpbray commented on #114
Removing NAs and then spitting out a warning makes sense to me too. I'll go ahead and start implementing that in `specify()` unless anyone objects.

[2018-04-08 22:46] ismayc commented on #114
Please do! I think copying the messages that ggplot2/dplyr uses would be great.

[2018-04-08 22:53] andrewpbray commented on #109
Alas, 1.

[2018-04-08 22:59] andrewpbray opened #128 "Syntax for the theoretical shortcut"
In the `develop` branch, this is the sort of syntax that we use to generate the theoretical chi-squared distribution in this case.
[code]
That is, the "shortcut" has you skipping both `generate()` and `calculate()`. Chester and I were talking about switching to requiring `calculate()` to be in there and I wanted to get @beanumber @rudeboybert @mine-cetinkaya-rundel @hardin47 's take.

The rational

[2018-04-08 23:28] andrewpbray commented on #114
Hmm, looks like `warning()` by default appends both `Warning message:` and the call. I can turn off the call with `.call = FALSE` but not sure about the other bit. Anyone know? A look into `geom_point()` to figure out how they do it was . . . not fruitful.

[2018-04-09 03:52] hardin47 commented on #109
I've been teaching the infer pipe over the last few weeks.  the code to get the observed stat seems unduly complicated for the students.  (easier to do without piping, yuck!)  but I don't have an easy solution that keeps everything tidy.

[2018-04-09 03:58] hardin47 commented on #128
Fisher's exact test is also a "theoretical" method, and the stat I usually discuss is the top left cell.  Beth and Allan refer to this stat as "Cell 1 Count".   See their different statistics (mostly for simulation methods) in their applet:

http://www.rossmanchance.com/applets/ChiSqShuffle.html?dolphins=1&count=1

[2018-04-09 10:36] ismayc commented on #109
Would including wrapper functions like `chisq_stat` and `t_stat` like those at https://infer-dev.netlify.com/articles/chisq_test.html and https://infer-dev.netlify.com/articles/two_sample_t.html be better? I think the inclusion of `pull()` with multiple `summarize()` steps for a `stat = “diff in means”` makes the observed statistic computation particularly tricky even for students who have used `d

[2018-04-09 13:18] rpruim commented on #109
I don't know enough about all the workings of your package, but it seems like your `statistic()` function could be an extractor coded up as a generic with methods for various objects from which a statistic can be extracted.  That would allow you to extract the statistic at various points along the way (and not need to re-specify things already previously provided).

The mosaic package has somethin

[2018-04-09 13:35] mine-cetinkaya-rundel commented on #54
It's only for the one sample binomial. I just think we need a different name for it.

The distinctions between these has been the toughest part of using/teaching with the package for me. And I worry that I'm trying to get them to learn terms that are not necessarily used beyond their use of the package because we treat `simulate` and `permute` like mutually exclusive concepts when permutation coul

[2018-04-09 13:38] ismayc commented on #54
Is it especially necessary that we include a `type` argument at all for beginners? It seems that if students aren’t really understanding the differences, we could set default types to do permutation when needed, bootstrapping when needed, and simulation when needed. If a mor advanced user wanted to give a different type they could, but maybe we could scaffold a little better?

[2018-04-09 13:48] mine-cetinkaya-rundel commented on #54
I don't think that's a bad idea, because it's not like they can run things with the wrong `type` anyway.

I worry about the blackboxing then though. That's why I was wondering about the experience of those who got a chance to walk students through this.

[2018-04-09 15:30] ismayc commented on #109
Maybe `observe()` instead?

[2018-04-09 18:35] rudeboybert commented on #109
I agree with you @mine-cetinkaya-rundel about doing `ggplot+dplyr %>% infer` and hence students would already know how to compute the observed test statistic using dplyr chains.

However even for well-seasoned tidy tools users it is still a bit of a drag to have to set up a separate chain to do this. Ceteris paribus, I'd be less inclined to use `infer` for my own ends if this were the case and goi

[2018-04-09 23:37] mine-cetinkaya-rundel commented on #109
I hear what @rudeboybert is saying, but pedagogically there is something good about being able to say "this step where we calculate the sample statistic, there is nothing new here! we do what we did before to get group means, but hey, here is a couple more functions to easily find the difference between them".

Obviously I can choose to use this custom function or not in my teaching, so it's fine

[2018-04-10 00:38] jthomasmock commented on #120
https://imgur.com/a/XrBaw

Latest take on the hex stickers!

[2018-04-10 02:07] hardin47 commented on #109
I really like the syntax being the same as how calculate was used under the simulation!!!

[2018-04-10 02:27] ismayc commented on #109
I like that too. The one complication is that we will need to include a `pull()` at the end of the `calculate()` step for the observed statistic. @andrewpbray, what do you think?

[2018-04-10 02:28] ismayc commented on #109
I’m inclined to have us come to a concensus on this for the next CRAN release instead of the one currently close to release focused on `visualize()`.

[2018-04-10 02:39] mine-cetinkaya-rundel commented on #109
@ismayc why would `pull()` be needed? the result could be a [1 x 1] data frame.

[2018-04-10 02:45] ismayc commented on #109
True, but to feed into the `obs_stat` argument in `visualize()` for plotting a vertical line the expectation is that is not a data frame, but rather a vector instead.

[2018-04-10 02:57] mine-cetinkaya-rundel commented on #109
Hm, unfortunately I've lost the thread on `visualize()`, maybe I need to catch up on it to provide more useful feedback here, but I don't think we want different output types for the same function, and I don't think it's a good idea to do `pull()` when `calculate()` is being used in the inference context.

[2018-04-10 03:02] ismayc commented on #109
Feel free to check out https://infer-dev.netlify.com which has vignettes showing the progress made.

[2018-04-10 03:04] ismayc commented on #109
I don’t think `geom_vline()` can accept a data frame? https://www.rdocumentation.org/packages/ggplot2/versions/0.9.1/topics/geom_vline

I suppose we could do the conversion to a vector behind the scenes though?

[2018-04-10 03:12] mine-cetinkaya-rundel commented on #109
Seems to me like hiding that behind the scenes is worth being able to keep the syntax of `calculate()` consistent across observed and generated samples.

[2018-04-10 03:17] ismayc commented on #109
I’m not opposed and I think would be a good fix to a problem from a pedagogical perspective. It means we could introduce the `specify()` and `cslculate()` verbs before we even get to inference so they have more practice working with them instead of teaching them all at once.

[2018-04-10 03:25] mine-cetinkaya-rundel opened #129 "method argument for visualize"
Looks like method can take the values `"randomization"` or `"theoretical"`.

Since `visualize()` can also be used for confidence intervals, I don't think `"randomization"` is the correct term. I believe the umbrella term for these methods is "simulation based inference", hence `"simulation"` seems like a more appropriate term than `"randomization"`. Another option is `"resampling"` (though I haven

[2018-04-10 03:38] ismayc commented on #129
I didn’t use `”simulation”` here for the exact reason that I didn’t want that in one more spot. `”resampling”` is more appropriate than “randomization” though and I can make that switch. I think Danny Kaplan likes to call these “resampling-based inference” so I think that’s a good way to go.

I tend to only use the word “simulate” for coin flip type problems but would love a better word for `type`

[2018-04-10 03:48] rpruim commented on #109
Yes.  `geom_vline()` accepts a data frame.

[code]

[2018-04-10 03:50] mine-cetinkaya-rundel commented on #129
I really think that rethinking the first use of the term `"simulate"` (in `generate()`) is the right way to go though. Soon it will be too late to make a change.

The term "simulation based inference" is shows up more often in stat ed literature than "resampling based inference".

[2018-04-10 03:55] ismayc commented on #129
It seems that `method = “simulation”` will cause the same problem though if “simulate” is used by different people to mean lots of different things in different settings. I’d prefer to remove it all together if possible, but I don’t have a better synonym for `type = “simulate”` :-/

[2018-04-10 03:55] rpruim commented on #109
Regarding verbs: One strength of the `dplyr` system is that when the verbs are transitive, then the first argument is the direct object.  It is the inflowing data frame that is mutated, filtered, summarized, grouped.  This makes the system especially nice and intuitive.

Your situation is trickier because your first argument isn't (I think) naturally the direct object for some of your functions.

[2018-04-10 04:00] rpruim commented on #129
Be careful about how you use "randomization" and "resampling".  Some people use "resampling" as a stand-in for "bootstrap", ie, sampling with replacement and distinguish it from "randomization" which is intended to simulate data under some null hypothesis.

I don't know if there is a good word that is general enough to include both but not so general as to include other types of simulation.

Namin

[2018-04-10 04:02] rpruim commented on #129
Since "type" is a noun, shouldn't it's possible values also be nouns (eg, "simulation" rather than "simulate")?

[2018-04-10 04:04] mine-cetinkaya-rundel opened #130 "Can method = both for visualize if conditions not met?"
I attempted to test this out, but I'm having difficulty with the dev branch.

What happens if conditions for theoretical inference is not met, say (S/F < 10), will the theoretical curve still be drawn? Based on the code the answer seems to be yes.

Then, is the idea that the users will be able to see that theoretical and non-theoretical graphs won't overlap nicely? If so, it's probably worth addin

[2018-04-10 04:31] andrewpbray commented on #130
I think you have it right: that seeing the disconnect between the shape of two sampling distributions can really help build a sense of what's going on. Additionally we could add a note about that into the help file of `visualize()` and, if it wanted to, have it kick out a warning the way many of the `stats` test functions do.

If you want to tinker around, the most up-to-date branch is `develop`,

[2018-04-10 05:02] andrewpbray commented on #109
That's a nice way to think through the different uses of these functions. `calculate()` to me is very straightforward because it it is essentially `group_by()` and `summarize()`. `specify()` is very close to `select()`. `hypothesize()` is the one that's the most unlike the others in my eyes. It really is just settings some attribute values in the incoming object a la `opts_chunk$set()`. While I do

[2018-04-10 05:04] andrewpbray commented on #129
What about `computational` for an umbrella term?

[2018-04-10 05:08] mine-cetinkaya-rundel commented on #129
I thought about that too, but it's not like we're doing the t-test "by hand", so that may also be confusing.

[2018-04-10 05:26] rpruim commented on #109
@hardin47, Regarding your `statistic()` function and `ggformula::df_stats()`.

  * Using a string to specify the function seems odd to me -- if you accept a function as input, you can handle many cases all at once without having to convert a set of strings that you define into those functions.
  * `df_stats()` does something a bit different from what you want because it is designed for statistics

[2018-04-10 11:42] rudeboybert commented on #109
@ismayc sounds like a consensus is emerging! Perhaps I'm only repeating what is already obvious to some, but my take home message from the above thread is `infer` will/should provide two sets of tools for inference:

1. Using high-level tools that provide **modularized** abstraction from the machine: `add_obs_stat` toggle,`calculate()`, `specify()`, `visualize()`. This is like driving a car intera

[2018-04-11 01:26] ismayc commented on #129
How about we switch `method = "randomization"` to `method = "simulation"` and then switch `type = "simulate"` to `type = "probability model"`?

[2018-04-11 01:36] mine-cetinkaya-rundel commented on #129
I'm in favor of `method = "simulation"` but `type = c("bootstrap", "permute", "probability model")` seems odd.

`type = c("bootstrap", "permute", "coin flip")`? I'm not a fan, but seem a bit more clear what's happening.

[2018-04-11 01:37] ismayc commented on #129
The unfortunate thing about `"coin flip"` is that we also have Chi-Square Goodness of Fit, which doesn't work.

[2018-04-11 01:49] mine-cetinkaya-rundel commented on #129
Right... `"probability model"` is confusing because it's not mutually exclusive from the other options.

I'm trying to think of a term that almost doesn't need explanation, as that is the closest thing to something that won't confuse students.

[2018-04-11 01:52] ismayc commented on #129
`type = "sampling from the given probability distribution"` just didn't have the right ring to it :smile:

[2018-04-11 04:10] ismayc commented on #130
Added a warning message to theoretical and both in #131. Will add a vignette for the next release to CRAN (after this one).

[2018-04-11 04:11] ismayc commented on #129
Made the change to `method = “simulation”` in #131

[2018-04-11 04:17] ismayc commented on #114
Looks like you implemented this well in `specify()` in the [PR to master](https://github.com/andrewpbray/infer/pull/123/commits/b113536b472080b301eab2eacd2321b8bb986c75). I tweaked it just a bit to include `::` and added a test.

[2018-04-11 04:26] #99 closed

[2018-04-11 04:26] ismayc commented on #99
Feel free to reopen this if needed.

[2018-04-11 04:27] #47 closed

[2018-04-11 05:41] andrewpbray commented on #114
No, it was just the small thing about removing the superfluous line the line after `# . . . with 37 more rows`.

[2018-04-16 08:25] congdanh8391 opened #135 "No color for visulization"
I test some code at https://infer-dev.netlify.com/articles/profiles_examples.html but plots doesn't have color like images in the post. Please help me fix this.
This is my working screen
![untitled](https://user-images.githubusercontent.com/38421401/38797971-6d5b7bb0-418a-11e8-855c-e046c9683635.png)

[2018-04-16 12:43] ismayc commented on #135
Hi @congdanh8391. Can you confirm which version of `infer` you have installed? Shading wasn’t added until v0.2.0.

[2018-04-17 01:35] ismayc commented on #109
I've begin implementing the `specify()` %>% calculate()` procedures on the `develop` branch to get a 1x1 data frame for the observed statistic. You can check the current progress at infer-dev.netlify.com/articles/observed_stat_examples.html.

[2018-04-17 04:00] congdanh8391 commented on #135
Thank for repying.

I installed ver 0.1.1.

I also re-install  infer after your post but always get ver 0.1.1. I use R 3.4.3. Any problem?

Thanks

[2018-04-17 04:07] ismayc commented on #135
v0.2.0 will be going to CRAN soon. In the meantime, you can install the developmental version via `remotes::install_github("andrewpbray/infer")`.

[2018-04-17 04:07] #135 closed

[2018-04-25 17:39] mine-cetinkaya-rundel commented on #54
Chatted with @hadley on this as well, his suggestions were

1. determine `type` based on `specify()` (and `hypothesize()`) and provide functionality to run `generate()` without specifying the `type` argument (so users/instructors can decide whether to get into this or not)
2. find a better word than `"simulate"`
3. have checks in place so if users chooses a `type` different than what (1) gives, th

[2018-04-25 17:44] ismayc commented on #54
@andrewpbray should be pushing v0.2.0 to CRAN any day now as it has passed all tests. I’d like to plan to get this implemented in v0.3.0 by June 15. Can you add this to the top of the To Do file so it gets prioritized?

[2018-04-25 17:48] ismayc commented on #54
@mine-cetinkaya-rundel Maybe we should take to Twitter to ask for suggestions on what the replacement word for `”simulate”` should be?

[2018-04-25 18:07] mine-cetinkaya-rundel commented on #54
@ismayc sure, but i'll write up a <140 char description first, so it's clear what it is. will try after teaching today.

[2018-04-25 18:10] ismayc commented on #54
Thanks! I’m traveling to Madrid shortly, but tag me as needed and I’m happy to provide a review.

[2018-04-25 20:18] #93 closed

[2018-04-25 20:25] #129 closed

[2018-04-27 18:33] ismayc commented on #54
@mine-cetinkaya-rundel I have added it to the [To Do list](https://github.com/andrewpbray/infer/commit/b2dcbceb746632d4819ac4b7e9854acce0a8b338). Will begin implementing as soon as I can.

[2018-04-27 22:27] ismayc commented on #54
@mine-cetinkaya-rundel I've implemented the changes to make this happen in the `develop` branch. You can look over some examples using the "development" vignettes [here](https://infer-dev.netlify.com/articles/profiles_examples.html) and [also here](https://infer-dev.netlify.com/articles/profiles_examples_both_methods.html).

Since @andrewpbray hasn't sent v0.2.0 to CRAN yet, we can probably delay

[2018-04-27 22:32] ismayc opened #139 "Package release to CRAN schedule"
I'd like for us to be sending a new version to CRAN every (ideally) 2 months instead of only sending to CRAN when we have reached the next v0.x.0. This can change after we get to v1.0.0 but since I'm still doing a lot of implementation I think it is a good strategy for the meantime. This will help to clear up the number of things we are working on at any given time and help us prioritize what is n

[2018-04-28 00:34] beanumber commented on #139
Sounds fine to me -- we just need to make sure that `master` is stable enough to use at all times.

[2018-05-05 22:07] ismayc commented on #109
@hardin47 @rudeboybert @mine-cetinkaya-rundel I've made more progress on this and have all of the "intro stats" examples created. I'm still working on `stat = "z"` and `stat = "t"`. https://infer-dev.netlify.com/articles/observed_stat_examples.html.

@andrewpbray Maybe it makes sense to bump to v0.2.1 and skip the push to CRAN for v0.2.0. Would really love to get something sent to CRAN as soon as

[2018-05-05 22:10] ismayc commented on #98
Added in [this commit](https://github.com/andrewpbray/infer/commit/925de04e7587dc523112111a4408490a3953e6c7)

[2018-05-05 22:10] #98 closed

[2018-05-05 22:11] #54 closed

[2018-05-05 22:11] #39 closed

[2018-05-05 22:13] #42 closed

[2018-05-13 02:58] #114 closed

[2018-05-13 02:58] #109 closed

[2018-05-13 02:59] #52 closed

[2018-05-13 02:59] ismayc commented on #102
@daranzolin Any updates here?

[2018-05-13 02:59] #126 closed

[2018-05-15 18:00] ismayc commented on #139
Let's plan for the next release to go to CRAN on July 15.

[2018-06-11 00:50] ismayc commented on #139
@andrewpbray With useR! happening on July 10, I'd like us to make sure to submit the next version to CRAN by July 3. We can then focus on the next release being around September 15th.

[2018-06-12 21:42] jimrothstein opened #142 "test_that"
Saw 'help wanted' for writing test_that.   Thought I'd try with Specify.R code.

[2018-06-15 00:57] ismayc opened #145 "Confidence interval and p-value wrapping functions with shading"
Just an update that I've started implementing some new functions to assist with the final parts of the There Is Only One Test framework: `get_pvalue()` with alias `p_value()` and `get_ci()` with aliases `get_confidence_interval()` and `conf_int()`. I've also added green shading for confidence intervals with `visualize()` using `direction = "between"`. You can find lots of examples in the `p_value`

[2018-06-18 17:45] #142 closed

[2018-06-19 21:53] daranzolin commented on #102
@ismayc my sincere apologies, I confess I was a little intimidated by the flurry of updates and activity around the package. I won't be able to attempt this any time soon. :disappointed:

[2018-06-19 22:28] ismayc commented on #102
OK. I am going to close the issue.

[2018-07-02 19:49] #22 closed

[2018-07-02 19:49] #145 closed

[2018-07-02 19:49] #139 closed

[2018-07-02 19:50] #120 closed

[2018-07-17 13:55] EllaKaye opened #148 "var.equal in `t_stat`"
Hello,

I'm trying to use `t_stat` to get the t-statistic on the assumption that the two variances are equal. I had assumed that passing in `var.equal = TRUE` via `...` would do the trick, but it doesn't appear to make a difference (the statistic remains the same as before, assuming unequal variances). I've also tried this using `specify` and then `calculate`. Am I missing something, or is this a

[2018-07-17 17:46] ismayc commented on #148
Hi @EllaKaye! I suspect somewhere along the way that `...` is not passed in so that you can use this. I will investigate as soon as I can. Hopefully later this week. Thanks again!

[2018-07-19 09:46] echasnovski opened #149 "Using 'assertive' introduces unnecessary dependencies"
Recently I installed `infer` for the first time and noticed that this also got 16 (sixteen!) other `assertive.*` packages installed. Those now occupy most of the 'Packages' tab when I open it. This is (weirdly) somewhat annoying as I have to do extra scrolling to get to the package I need.

After studying internal code I saw that `assertive` is only used for checking types of input arguments. In o

[2018-07-21 01:14] ismayc commented on #148
@EllaKaye: Thanks again for bringing this to our attention. I've made some tweaks on the `develop` branch to get this working. Here's the results of the example you've listed above. You can install this version (v0.3.0.9000) of the package using `remotes::install_github("andrewpbray/infer", ref = "develop")`.

[code]

Created on 2018-07-20 by the [reprex
package](http://reprex.tidyverse.org) (v0.2

[2018-07-21 08:59] echasnovski commented on #149
If writing own check functions is a way to go then I have a suggestion to use `dplyr` approach in handling errors (see [dplyr/error.R](https://github.com/tidyverse/dplyr/blob/master/R/error.R)). In this case it means to copy [glubort()](https://github.com/tidyverse/dplyr/blob/d3ded01ac854cbc847afcb1434f49118cea852e8/R/error.R#L48) function which is a refined variant of `stop(paste(...))`. It might

[2018-07-21 09:42] ismayc commented on #149
Using {glue} in a PR sounds great. It was on my to-do list to do so throughout the package after seeing Jim Hester’s talk at useR about it.

[2018-07-21 09:53] ismayc commented on #102
@echasnovski Would you be up for reviewing this as well with your {glue} updates?

[2018-07-21 10:05] echasnovski commented on #102
Sure, I'll try this after implementation updates.

[2018-07-21 10:07] ismayc commented on #102
Awesome. Please make your PR off and into the `develop` branch and tag me as reviewer. Thanks much for your help here!

[2018-07-21 13:11] EllaKaye commented on #148
Thanks @ismayc! That now works fine in `t_stat` and `t_test`, but not when using the full-hand `specify` followed by `calculate`: the following both still give the var.equal = FALSE default:

[code]
Created on 2018-07-21 by the reprex package (v0.2.0).

[2018-07-21 17:47] ismayc commented on #148
I know :-). I can’t figure out why the `...` aren’t passing appropriately. Will keep investigating.

[2018-07-22 20:13] echasnovski commented on #148
That is because `...` is misplaced inside a code of `calc_impl.t()`. [Here](https://github.com/andrewpbray/infer/blob/9af42a7f673d749e6e63af93fd6ee5e13b8f0d82/R/calculate.R#L330), [here](https://github.com/andrewpbray/infer/blob/9af42a7f673d749e6e63af93fd6ee5e13b8f0d82/R/calculate.R#L365) and [here](https://github.com/andrewpbray/infer/blob/9af42a7f673d749e6e63af93fd6ee5e13b8f0d82/R/calculate.R#L3

[2018-07-22 20:18] ismayc commented on #148
Ah! Great catch, @echasnovski! Will update later today. Those darn parentheses!

[2018-07-22 21:06] ismayc commented on #148
@EllaKaye It looks like it is now fixed on the `develop` branch:

[code]

Created on 2018-07-22 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-07-23 17:54] #149 closed

[2018-07-23 18:13] echasnovski opened #155 "Fully use glue package"
This is an issue for my planned PR. It will be at least about:
- Replace all `stop(paste(...))`, `warning(paste(...))`, and `message(paste(...))` with `stop_glue(...)`, `warning_glue(...)`, and `message_glue(...)`. @ismayc , should those be replaced in commented code chunks (like [this one](https://github.com/tidymodels/infer/blob/3a3485d610dc3faf03625440933662495bfd6b66/R/calculate.R#L88))?
- Rep

[2018-07-23 18:37] ismayc commented on #155
@echasnovski Yes, I think that would be helpful as those comments may or may not be included at a later date, so it would be helpful to have them standardized. This should really help with code readability. Thanks much!

[2018-07-24 14:24] echasnovski opened #156 "Uninformative error when response is NULL in `specify()`"
As of e756b67 this happens if specify `NULL` response in `formula` argument:

[code]

Probably, there should be informative error message like "Supply not-NULL response variable.".

I'll fix this after the upcoming PR for #155 is merged.

[2018-07-24 14:33] echasnovski opened #157 "Uninformative error when type is NULL in `generate()`"
As of e756b67 this happens if supply `type = NULL` in `generate()`:

[code]
Probably, there should be informative error message like "`type` shouldn't be NULL.".

I'll fix this after the upcoming PR for #155 is merged.

[2018-07-24 14:37] ismayc commented on #157
We might want to start using `call. = FALSE` in all (or nearly all) of these situations as well since `auto_type` doesn't mean anything to the outside user.

[2018-07-24 14:42] echasnovski commented on #155
After playing with {glue} I've found this unexpected behavior:

[code]
For this issue it means that if any object inside "{}" evaluates into `NULL` then no text in error (warning, message) will be given. I don't think this is crucial because printing empty string to indicate `NULL` is generally a bad idea. A better way to do this is give extra notification if object is `NULL` when it shouldn't be.

[2018-07-24 14:44] echasnovski commented on #157
This will be addressed in PR for #155. I ended up replacing all `stop()`, `warning()`, and `message()` with `stop_glue()`, `warning_glue()`, and `message_glue()` in which `call. = FALSE` is default.

[2018-07-24 14:46] ismayc commented on #155
Does this help with that? https://rawgit.com/jimhester/presentations/master/2018_07_13-Glue_strings_to_data_with_glue/2018_03_28-Glue_string_to_data_with_glue.html#/glue-handles-missings

[2018-07-24 14:52] echasnovski commented on #155
Unfortunately, it doesn't seem to:
[code]
It is said that `.na` deals with `NA` values, not `NULL`.

[2018-07-24 14:55] ismayc commented on #155
Here we go I think: https://github.com/tidyverse/glue/issues/45

[2018-07-24 14:56] ismayc commented on #155
Haha. You are one step ahead of me. Never mind :)

[2018-07-24 15:20] echasnovski commented on #155
However, [slide about transformers](https://rawgit.com/jimhester/presentations/master/2018_07_13-Glue_strings_to_data_with_glue/2018_03_28-Glue_string_to_data_with_glue.html#/transformer-are-robust) helps:

[code]
It might be a good idea to use this. @ismayc, what do you think?

[2018-07-24 15:32] ismayc commented on #155
I think I like this too.

[2018-07-26 14:30] echasnovski opened #159 "Format documentation to follow tidyverse style guide"
I have a suggestion to format current documentation to be closer to [tidyverse style guide](http://style.tidyverse.org/documentation.html). This (rather long) comment is going to show which format changes I think should be done to increase readability of documentation code. As some of them are matter of taste, this issue is created for discussion of this suggestion.

Slightly modified version of [

[2018-07-26 17:57] ismayc commented on #159
@echasnovski Definitely aligned on Steps 1-4 here. Step 5 seems to make sense to me as well. Forcing explicit naming seems like a good practice. Can you think of any downsides?

I'd prefer to use "{infer}" throughout or force the use of "`infer` package" if we must. That makes it much clearer to the outside reader.

[2018-07-26 18:31] echasnovski commented on #159
The only downside I can think of right now is an extra entry in package index. So if in the example there is `#' @name p-val` with later use of `#' @rdname p-val`, package index has three entries with description "Compute the p-value": `p-val`, `p_value`, and `get_pvalue`. For some people this might be confusing as there are only two functions. For other people this makes total sense as one of ent

[2018-07-27 06:57] #155 closed

[2018-07-27 08:49] echasnovski commented on #159
Which option will be better for PR reviewing?
- **Each step in separate commit**. It means every commit will be about many relatively small changes in most of the files. On the other hand it may be harder to see "before and after" differences in every commit.
- **All steps in one commit**. It should be better to see "before and after" differences as almost all documentation code will change. On th

[2018-07-27 13:08] ismayc commented on #159
Thanks much for asking. I’m fine with either one as they both have positives. Whichever way is more natural for you will work.

[2018-07-27 20:32] echasnovski opened #162 "Handling of argument `type` in `generate()`"
Having studied code of `generate()`, I have a question about the logic of how it handles `type` argument.

The current approach accounts for two scenarios:

- **`x` already has "type" attribute set**. In that case, `generate()` double checks that user supplied *the same* value and throws error if he/she didn't. If values are the same, it reassigns `type` to be equal to the value of "type" attribut

[2018-07-27 20:48] ismayc commented on #162
Originally, the `type` had to always be provided in order for `generate()` to work. When @mine-cetinkaya-rundel used {infer} in her course, she found that it was difficult for students to sometimes remember which `type` should be given in `generate()`. I, thus, created the "auto-type" situation to automatically determine the appropriate method based on the types of variables that were given earlie

[2018-07-27 20:51] ismayc commented on #162
The related issue is #54

[2018-07-27 22:10] ismayc commented on #162
Hmm, it isn't clear to me that setting `type = NULL` by default will work here? Do you mind sketching out the workflow exactly? Are you suggesting setting `type` accordingly inside of `generate()` with `attr(x, "type")`?

[2018-07-27 22:11] ismayc commented on #162
I think we are on the same page here after reviewing your further comments. I'm more curious about implementation I think.

[2018-07-28 05:20] #156 closed

[2018-07-28 06:33] echasnovski commented on #162
After some overnight thinking, I guess there are two possible options. Explicit choice about role of `generate()` should be made in order to pick one.

1. **`generate()` should be used only inside {infer} workflow**, i.e. after `specify()` and/or `hypothesize()`. It means that no manual `type` should be supplied. This argument should be gradually deprecated: first with a warning, then with an erro

[2018-07-28 06:36] #157 closed

[2018-07-29 16:44] ismayc commented on #162
I think I agree that `generate()` should likely only be used inside the {infer} workflow. It might be better to just export the inner working functions like `bootstrap()`, though those might be shifted over to use the {rsample} functions soon to use list-columns instead of the longer data frames.

[2018-07-29 16:55] #159 closed

[2018-07-29 16:59] echasnovski opened #164 "Typo in internal `both_anova_plot()`"
Definition of internal function `both_anova_plot()` has [....](https://github.com/tidymodels/infer/blob/a2559a4bbb24b0b2385ebb498aa00483e6d8e196/R/visualize.R#L245) (four dots) in it instead of `...`.

[2018-07-29 17:03] ismayc commented on #164
Hmm, the fact this wasn't caught in any of the tests makes me wonder if `...` should be included in `both_anova_plot()`.

[2018-07-29 17:05] echasnovski opened #165 "Status of `set_params()`"
As of b637bbd function `set_params()` is documented using roxygen comments but is not exported. As a result, it is listed in package index after installation. This feels like a documentation conflict. Should `set_params()` be documented without help page (by adding `#' @noRd` roxygen comment) or should it be exported?

[2018-07-29 17:05] echasnovski commented on #164
Well, it is not used explicitly in the code, so it is understandable.

[2018-07-29 17:08] ismayc commented on #165
I don't think it should be exported as it is only really useful internally.

[2018-07-29 17:10] ismayc commented on #164
Fixed typo in [commit](33d731488580210e49cde4df2cdd1e2066180c94) to `develop` branch.

[2018-07-29 17:10] #164 closed

[2018-07-29 17:13] echasnovski opened #166 "Fully use `tibble` package"
As of b637bbd there are examples of usage of functions `tbl_df()`, `as.tbl()` (which I think should have been `tbl_df()` in the first place), and `as_tibble()` from {dplyr}. It is now recommended to use `as_tibble()` and `tibble()` from {tibble} directly.

Maybe it is better to use {tibble} in that cases?

[2018-07-29 17:14] ismayc commented on #166
Definitely. These are remnants of a previous time. Let's use {tibble} directly going forward.

[2018-07-29 19:31] echasnovski commented on #162
And how about my update suggestion?

[2018-07-29 19:58] ismayc commented on #162
That might require some of the other package authors to chime in over the next week or so. @andrewpbray and @mine-cetinkaya-rundel, thoughts?

[2018-08-03 01:05] #166 closed

[2018-08-03 06:56] #165 closed

[2018-08-04 20:11] echasnovski opened #169 "Format code to follow tidyverse style guide"
I think that {infer} could benefit from applying more [tidyverse styling](http://style.tidyverse.org/syntax.html) for code syntax. To show cumulative change, I've made up some {infer} inspired code examples (with no particular logic, just to show a difference).

<details>
<summary>Raw example</summary>

[code]
</details>
<br>

**Step 1: Update spacing**. It is described in [Spacing](http://style.t

[2018-08-04 20:31] ismayc commented on #169
This all makes sense to me. Having multiple package authors means that different coding styles are bound to pop up. Providing a general consistency would be good. Are some of these hard to implement by default in RStudio? Or can setttings be changed to force defaults where needed.

[2018-08-04 20:59] echasnovski commented on #169
The most critical part, indenting of function calls and hierarchical structures, is implemented in RStudio by default. For function calls, I usually:
- Type `mutate` (for example).
- Type `(`. It adds closing bracket `)` and places cursor between brackets.
- Hit enter. This moves cursor on the new line with indenting increased by one level. `)` is also moved on separate line.

There is also a {[st

[2018-08-06 08:45] echasnovski opened #173 "Make code more DRY"
After reading {infer} code I noticed that some code chunks are repeated multiple times with, possibly, small changes. This seems like a good opportunity to abstract them into functions to facilitate code reusage and increase code stability (see [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)). I created this issue to track those code chunks.

- Methods of `calc_impl` for one function,

[2018-08-06 15:28] ismayc commented on #173
@echasnovski This is all good for me and something we've been wanting to do for awhile. @andrewpbray is also looking into having a function name be an argument to `calculate()` so that something like `calculate(stat_fun = mean, trim = 0.1)` would be possible instead of the string input for `stat` which limits the scope of the package. If you have thoughts on that, please let us know.

[2018-08-06 19:12] echasnovski opened #175 "Allow `calculate()` to take function as input"
I created this issue to discuss a what seems to be a desired upgrade of {infer}: let `calculate()` take arbitrary function as input to compute more broad range of statistics.

For quite some time I've been thinking about this. For now, I concluded that there are two major issues.

1. **User interface**, i.e. which argument(s) should supplied function require?
    - If it is assumed to operate only

[2018-08-06 19:13] echasnovski commented on #173
Great. I would really like to hear about specific places that you think should be DRYed.

I created an issue (#175) to discuss possibility of functional input to `calculate()`.

[2018-08-06 20:02] #122 closed

[2018-08-06 20:31] ismayc commented on #173
I think `visualize()` and `calculate()` (with all the `impl` functions) would benefit most from being DRYed.

[2018-08-06 20:33] ismayc commented on #175
I think it might be best to just focus on generalizing response variable calculations like `mean()`, `median()`, `max()`, etc. for the moment. As you mentioned, anything more complicated than that is going to head down a rabbit hole quickly.

[2018-08-07 07:05] #169 closed

[2018-08-07 09:13] echasnovski commented on #175
This is not hard to implement but the question of whether it is reasonable remains.

This functionality implies the possibility of performing hypothesis test of whether certain statistics equals certain value based on present data. Say, we want to test if maximum value of `mpg` from `mtcars` equals to 40 (observed statistic is 33.9). Based on the current package design, sample from statistic distr

[2018-08-07 23:41] ismayc commented on #175
Whoofta. Yes. That does make sense. The struggles with getting the bootstrap centered in the right spot I don't believe can be generalized. It might just be the case that `{infer}` is best used for introductory statistics. It looks like generalizing without severely breaking the foundations is going to be mighty tricky.

It might be useful to just focus on cleaning up the code internally to see if

[2018-08-08 08:45] echasnovski commented on #50
I don't think this is actually generalizing, rather adding another acceptable string to `calculate()`.

In my understanding implementation of `"sum"` should be similar to `"mean"`, `"median"`, `"sd"` cases. In the example, however, response is a factor and `sum()` doesn't work with factors.

As this example currently doesn't work (`success` should be specified for a `"prop"` statistic), I think an

[2018-08-08 09:08] echasnovski commented on #175
Allowing function as input to `calculate()` only outside hypothesis testing framework is totally possible. However, for my taste it might be a little bit confusing for users.

Examples of functionality:
1. Using `hypothesize()` in pipeline results in an error:
[code]

2. Outside of hypothesis testing these chunks of code should return identical results:
[code]

[code]

**Note** that `max()` statis

[2018-08-08 14:36] ismayc commented on #50
I think you are right. This might have to be another special case with string input. The `success` argument was added later on in development.

[2018-08-08 14:52] echasnovski commented on #50
So is it `calculate("count")` with `success` argument, or `calculate("sum")` for numerical response, or both? After #173 this should be very straightforward to add.

[2018-08-08 14:54] ismayc commented on #50
I think it’s both.

[2018-08-08 14:57] mine-cetinkaya-rundel commented on #50
Is the suggestion to not call the statistic "prop" anymore? The reason for that term was so that it matches the name of the parameter on which we do inference.

[2018-08-08 15:00] echasnovski commented on #50
As I understand it, all current functionality is preserved, including `calculate("prop")`. A new one will be added: `calculate("count")`. This will return a number of "successes" inside one bootstrap resample.

[2018-08-15 09:11] #173 closed

[2018-08-15 10:31] echasnovski opened #178 "Refactor visualization"
This is somewhat a continuation of #173. Even after DRYing `visualize()` in #177 I think it can be further refactored to be more straightforward. In my understanding, the visualizaion algorithm should be as follows:

1. **Check inputs for type and reasonability correctness**. This is a step that shouldn't repair any inputs but only throw errors, warnings, and messages. It includes [type checks](ht

[2018-08-15 23:26] ismayc commented on #178
I'll try to get back to you tomorrow or Friday as this will take me a bit to think about.

[2018-08-20 18:54] #50 closed

[2018-08-20 18:55] ismayc commented on #50
Now implemented by @echasnovski on the `develop` branch via #179

[2018-08-21 17:14] richierocks opened #180 "Deprecate the unnecessary function aliasses"
I think that having multiple names for the same function makes things harder, not easier, to understand.  For example, `get_confidence_interval()`, `get_ci()`, and`conf_int()` are all identical.

I'd be tempted to keep `get_confidence_interval()` and deprecate the other two.

Likewise, there is no point in having `get_pvalue()` *and* `p_value()`.

Aliases make it harder to read other people's code

[2018-08-21 17:18] ismayc commented on #180
I’m not opposed to this but the flow is not the same as the other verbs in `{infer}`. I like the `get_` variants better as well though `get_confidence_interval()` is really long, which led to trying to standardize shorter names as aliases.

[2018-08-22 22:50] apreshill opened #182 "Clarify calculated "t" statistic versus Welch's t"
Hi!

I'm using {infer} in class and noticed something while teaching two-sample t-tests that I think might be good to clarify in the documentation, or perhaps may involve a slight edit to the API for `calculate`. I tried to do a `reprex` with a mini sample of observations but no matter what my t-statistic and Welch's t ended up being the exact same so I am just including the whole data to show the

[2018-08-23 02:08] apreshill commented on #182
Edited to add I now see this is a duplicate of issue #148. I installed the `develop` branch:

[code]

But still get the same results.

[2018-08-23 12:25] ismayc commented on #182
Hmm. I will investigate as soon as I can. Might want to try “tidymodels/infer” too for the path, but I doubt that will fix it.

[2018-08-23 17:16] andrewpbray commented on #182
Ah, I'm glad you flagged this. I feel like our support/documentation for the Welch's has needed some work, so this really pinpoints a use case to work from. I'm taking a look at this right now.

[2018-08-23 17:35] andrewpbray commented on #182
Hmmm, this is odd: I'm not able to reproduce the issue. Am I missing something? This is using the current CRAN version.

[code]

Created on 2018-08-23 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-24 16:58] ismayc commented on #180
Given that not everyone uses tab-complete and spelling mistakes for something like `get_confidence_interval()` are almost surely bound to happen more than `get_ci()` I think I am leaning towards including it.

Using `get_p_value()` and `get_pvalue()` also seems fine to me. I can see having `conf_int()` and `get_ci()` as being problematic, but with how similar `get_p_value()` and `get_pvalue()` are

[2018-08-26 20:44] ismayc commented on #182
@apreshill Can you share your `devtools::session_info()`? Mine is below and like @andrewpbray I'm not able to reproduce unless I'm missing something else?

[code]

Created on 2018-08-26 by the [reprex
package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-31 01:06] jcvall opened #186 "Speed up premutations"
I love this package and reading Moderndive.  Thank you so much for this approach to statistics.

I noticed that when I am performing permutations that the larger the sample size say 1000 to 2000 slows things down greatly.  I am hoping to get up to 10000 samples on a larger dataset.  Any advice for speeding things up?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-31 01:09] ismayc commented on #186
Thanks much. @andrewpbray is working on an implementation that should speed things up and reduce storage some as well.

[2018-09-03 14:34] richierocks commented on #162
Suggested refactoring:

[code]

This breaks a load of tests (that want an error rather than a warning when the user type differs from the auto type). Let me know if it sounds sensible before I create a PR.

[2018-09-03 18:51] ismayc commented on #110
Addressed in PR above.

[2018-09-03 18:51] #110 closed

[2018-09-03 18:52] ismayc commented on #180
This implementation was added in #189 by @richierocks

[2018-09-03 18:52] #180 closed

[2018-09-03 18:53] ismayc commented on #162
The implementation above by @richierocks has been added to the `develop` branch.

[2018-09-03 18:53] #162 closed

[2018-09-03 18:54] ismayc commented on #127
This functionality has been commented out for months now. Feel free to reopen with a PR if this needs to be investigated again.

[2018-09-03 18:54] #127 closed

[2018-09-03 19:05] ismayc commented on #111
With the focus of this package being on statistical inference, I think this is a little too far beyond the scope to implement well in {infer}. Some use cases showing how `DescTools::Desc()` does not accomplish what you are after might be helpful. Here is a `reprex()` of how it works on some sample data and what {infer} creates. I'm going to close this issue, but feel free to reopen if you have som

[2018-09-03 19:05] #111 closed

[2018-09-03 19:06] #102 closed

[2018-09-03 19:06] #27 closed

[2018-09-03 20:15] ismayc commented on #178
I agree on all of 1-4. For 5, it was an oversight to have both `obs_stat` and `end_points`. That shouldn't be the case.

Agreed on 5i as well. Since `add_external_stat()` is a bit clunky and harder to understand, I think `add_p_value()` (with alias `add_pvalue()`) and `add_ci()` (with alias `add_confidence_interval()`) are cleaner and clearer.

Aligned on 6 as well.

[2018-09-04 05:06] echasnovski commented on #178
In the list I meant 5i and `add_*()` layer functions to be different options. The first one means only changes in internal logic of `visualize()`, as the second means moving that logic outside in separate functions. Do I understand correctly that creating new layer functions is the preferred direction?

As this is a major update that breaks tests and vignettes, this will take some time. I plan to

[2018-09-04 13:03] ismayc commented on #178
Hmm, there was something nice about `get_p_value()` and `get_confidence_interval()` having roughly the same arguments as `visualize()`. Can you recap what the new layout would look like with some examples? I’m now not sure what arguments `visualize()` would take. There is no rush on any of this.

[2018-09-04 14:30] PirateGrunt commented on #103
This issue shows up as open, but I think it's been resolved on the dev branch? At any rate, I can't reproduce the error on dev. I do see a message that 13 observations were removed in the call to `specify()`.

[2018-09-04 14:32] ismayc commented on #103
Thanks, @PirateGrunt. I believe this was resolved as well but not closed. Doing so now.

[2018-09-04 14:32] #103 closed

[2018-09-04 15:38] echasnovski commented on #178
The general idea is to move all logic of plotting (adding to plot) p-value and interval regions into separate functions. It means that arguments that define certain object go to respective functions:

- `visualize(data, bins = 15, method = "simulation", dens_color = "black")`. This only plots histogram and/or density curve based on `data`.
- `add_p_value(obs_stat, direction = NULL, color = "red2",

[2018-09-04 16:01] richierocks opened #194 "get_p_value() fails with a poor error message when is_simulation_based if FALSE"
The return value from `get_p_value()` is only defined when `is_simulation_based` is `TRUE`.

https://github.com/tidymodels/infer/blob/develop/R/get_p_value.R#L44-L72

Here's the line where the return value is defined.

[code]

The code for the theoretical case is commented out. It should just be a call to `dnorm()`/`dt()`/`df()`/`dchisq()`, right?

I'm struggling to create a reproducible example;

[2018-09-04 16:08] ismayc commented on #178
Thanks much. So `visualize()` will only have the `data` argument and maybe `method`? Anything else as arguments there?

I think what you have proposed is a lot cleaner and more in line with the {infer} verbs and what {ggplot2} and {dplyr} use as well.

[2018-09-04 16:13] ismayc commented on #194
The functionality is [not ready](https://github.com/tidymodels/infer/blob/a16590b39ce8a66fccd21aee5c672898f335c7fc/R/get_p_value.R#L3) for when `is_simulation_based` is FALSE and is set as a TO-DO since it wasn't working in the theoretical case and thus was commented out. How were you able to get `is_simulation_based` to be set to `FALSE`?

[2018-09-04 16:16] ismayc commented on #194
Are you suggesting adding a warning message if this is tried to be used with a theoretical distribution?

[2018-09-04 17:14] richierocks commented on #194
I'm suggesting it should fail with a clear message that this use case isn't supported.

Something like

[code]

where the check for the generation attribute is outsourced to its own function

[code]

The documentation for `?get_p_value` also needs updating to say something like

[code]

[2018-09-04 18:49] echasnovski commented on #178
Yep, `data`, `method`, `bins` and `color` (or `dens_color` if you wish that to only apply to density curve).

As clean as it is, it is hugely breaking, and the deprecation strategy of extra `visualize()` arguments should be discussed. Maybe leave them at first powered by new functions and giving a warning when they are used?

[2018-09-04 19:08] ismayc commented on #178
Definitely deprecate slowly with warnings

[2018-09-05 15:14] echasnovski commented on #178
After some thinking, I have small doubts about names `add_p_value()` and `add_ci()`. Here are the reasons:

- Prefix `add_*` doesn't clearly resonate for me as being related to graphics. Moreover, proposed functions are designed to be used with `+`, which introduces a subtle tautology.
- What is really done in those functions isn't explicitly related to p-value and confidence interval. They create

[2018-09-05 15:21] ismayc commented on #178
Given that Hadley has said he wouldn't have done the `+` and would have gone instead with `%>%` if he had to do it all over again, I don't think going the `+` route makes sense here. The `plotly` package does use `add_*` for its functions using the pipe.

We are getting into some tricky water here though too since we are expecting students of `infer` have some experience with `ggplot2` and `dplyr`

[2018-09-05 15:27] ismayc commented on #178
I'm not opposed to `shadow_*` but one important part of using the `infer` package is to make sure students understand the p-value and what makes it up as well as understanding confidence intervals. `shadow_interval()` is OK. Maybe `display_p_value()` and `display_confidence_interval()` with alias `display_ci()` work OK?

[2018-09-05 16:09] echasnovski commented on #178
The reason why I chose new functions to be essentially {ggplot2} layers is exactly because it should be familiar to potential users of {infer}. Thus using them by adding separate layers (with `+`) seemed natural.

I **really like** the `display_*` prefix. However, I would argue that current and proposed functionality of displaying p-value and CI actually do that:

- P-value should be perceved as a

[2018-09-06 01:45] ismayc commented on #178
A p-value is well-approximated by the number of simulated statistics in the null distribution as extreme or more extreme as the observed statistic too. I think students catch on to this pretty well actually and then it is pretty natural to extend to just looking at the smooth approximation and the area under the curve as a p-value. I've had better success in teaching students about the p-value usi

[2018-09-06 09:52] echasnovski commented on #178
I like both `display_*` and `shade_*`. The first one doesn't imply that color filling should be done (not really contradicting of plotting only vertical lines), but the second one does. But you are right about possible misunderstanding of a number being produced.

I undersand the motivation of including `p_value` in function name but don't quite agree based on naming consistency. Function name sho

[2018-09-06 09:57] echasnovski commented on #178
Maybe instead of `*_tails` suffix we can use `*_extreme`, i.e. `shade_extreme()`? As this word pops up very often in definition(s) of p-value, it might be explicit enough to illustrate (but not actually "display") this concept on the plot?

[2018-09-06 23:43] ismayc commented on #194
Gotcha. Sorry for the delay. I'll try to get this implemented by the end of the week.

[2018-09-07 00:27] ismayc commented on #178
So if we shaded under the curve or the histogram directly, you'd be ok with `shade_p_value()`? But since we are shading as rectangles that's why you prefer `shade_extreme()`? Not sure I understand you wanting to use `shade_interval()` then given it also includes things outside of the actual distributions. I still think a visual interpretation of the p-value is the best way to get students to under

[2018-09-07 04:47] echasnovski commented on #178
I think yes, if shading is done under the curve or on the histogram then `shade_p_value()` is a good choice.

The name `shade_interval()` "says" that some interval is to be shaded, as it is: interval on x-axis defined by `endpoints`. It just happened so that it is recommended (via help pages, vignettes, and other sources) to be used to show confidence interval of statistic. Maybe the similarity of

[2018-09-07 04:54] ismayc commented on #178
Fair enough 😄. The tricky thing about shading the histogram is that it will have some bins that have two different shadings, which is why we decided to just shade as rectangles instead in #51. You can't see what Albert is referring to anymore, but if you do a fill on a histogram based on a condition of being more extreme you'll see what I mean.

[2018-09-07 05:04] echasnovski commented on #178
Oh, I tried to create a solution, that shades the distribution, but failed. Mainly because with `method = "both"` it isn't clear what should be shaded: histogram or density curve. However, manipulations with bin coloring *is* an issue.

I guess, inability to create perfect solution algorithmically get me into trying to properly name function and supplying recommendations of its usage. And it will

[2018-09-07 05:13] ismayc commented on #178
`shade_extreme()` and `shade_interval()` are fine with me, but if there is confusion brought up by instructors on the learning of students on the p-value using {infer}, I’d also like `shade_p_value()` as an alias.

[2018-09-07 05:21] echasnovski commented on #178
I am glad that I've managed to convince you😊

I am worried though to not sabotage any future teaching with this. Maybe, you know some third party educators that can explicitly help with this choice?

[2018-09-07 05:37] ismayc commented on #178
@rudeboybert @apreshill @peterbchi @LucyMcGowan You have been summoned to help us determine what to call a function. Your experience and guidance are much appreciated in advance. Beer on me next time I see you. Apologies for the amount of reading here but I think you’ll get the gist by just reading above this comment a little bit.

[2018-09-08 19:14] rudeboybert commented on #178
Hello all! First off I appreciate the effort and thoughtfulness you are both putting into the discussion of "What do I call this function?" I feel like this thread should be submitted to "The Annals of 'Naming Things is Hard'" 😆

Before I answer, I'm going to paraphrase my understanding of the discussion so far. You have the following goals you would like to satisfy all at once:
* Goal 1: Implemen

[2018-09-09 01:43] ismayc commented on #194
Implemented in [this commit](https://github.com/tidymodels/infer/pull/195/commits/e8d28096b84fc0fc890e5f7d8fcc77eb63ceaded). Will be merged into `develop` after Travis checks pass.

[2018-09-09 01:49] ismayc commented on #194
R CMD CHECK failed. Will revisit tomorrow.

[2018-09-09 05:31] ismayc commented on #194
Merged into `develop` via #195

[2018-09-09 05:31] #194 closed

[2018-09-09 15:10] echasnovski commented on #178
The goal here, as I see it, is to find a balance (through naming) between perception of what `shade_*()` functions **will actually do** and **will be used to represent**.

Here are the problems more formulated in code. Maybe it will help.

### P-value

For now {infer} has the following way of producing the plot:

[code]
![example-plot-pval](https://user-images.githubusercontent.com/24854248/452657

[2018-09-09 23:38] topepo opened #196 "arbitrary statistic in calculate"
[Someone has asked](https://community.rstudio.com/t/get-raw-data-from-yardstick-conf-mat-for-use-with-infer/) if `yardstick`'s statistics functions can be used with the `infer` workflow to produce bootstrap (and maybe permutation) statistics for functions not in the package (such as sensitivity, specificity, etc).

I can't find any examples of doing this. Is this out of scope?

[2018-09-09 23:42] ismayc commented on #196
Hi @topepo. It's looking more and more that it will be challenging to allow for such a thing as noted in #175. We're still brainstorming on it, but it may just be out of scope and we'll need to figure out a better bridge to be able to work with `yardstick`. This will potentially be done in a different package, TBD.

[2018-09-09 23:44] topepo commented on #196
I saw some issues/thoughts about bringing a data frame into `infer` that can be used in `visualize` and other helpers. Is that a possibility?

So if we use:

[code]

could we pass `bt` to `infer` functions?

[2018-09-10 00:03] ismayc commented on #196
Yep, `visualize()` and other functions after `calculate()` are just looking for a `stat` column so they should work well here.

[2018-09-10 00:14] #196 closed

[2018-09-12 23:57] hardin47 opened #197 "inference using `group_by`?"
Any chance we could have the `infer` pipeline work with an initial `group_by` statement?

@richierocks

Works:
[code]

Doesn't work:
[code]

[2018-09-13 01:06] ismayc commented on #197
Hi @hardin47. I think this will be pretty tricky to implement. What format would the result of the final pipeline be? One column of p-values and multiple rows for each level of `hair_color` I assume? I’m not at my computer currently but could you share the error of what happens when you try to run this?

[2018-09-13 13:52] richierocks commented on #197
I think that making `infer` respect `group_by()` is a great goal.

I think a reasonable first step might be to make sure that if the data has been grouped (`is_grouped_df(x)` is `TRUE`) then `generate()` and `calculate()` always include the grouped columns (`group_vars(x)`) in the result.

Another important step is that the class of the input shouldn't be mucked about with. At the moment, for exam

[2018-09-13 22:38] hardin47 commented on #197
The first bit:
[code]

The second bit:

[code]

[2018-09-19 07:27] bragks opened #202 "Feature request: allow numerics in specify"
Any chance you could add support for integers in specify(success=)?
E.g.
`specify(response = a, success = 1)`
instead of
`specify(response = a, success = "yes")`

[2018-09-24 15:37] ismayc commented on #24
@andrewpbray Can you give a timetable for implementing list-columns? I'll take a stab at it if I don't hear back over the next few weeks.

[2018-09-24 17:00] ismayc commented on #197
I don't have the capacity to implement and test this currently. Maybe @andrewpbray can help out?

[2018-09-24 20:04] echasnovski commented on #178
Implemented in #198.

[2018-09-24 20:04] #178 closed

[2018-09-25 19:15] andrewpbray commented on #24
I'll take a stab this week, starting down that path. By Friday I'll hopefully have a sense of how long the full implementation will take.

Yeah, deadlines are helpful =)

[2018-10-19 07:55] echasnovski opened #205 "Change computation of two-sided p-value"
This issue is a result of discussion started in #203 (after [this comment](https://github.com/tidymodels/infer/pull/203#issuecomment-431078712)). I think it deserves a separate thread.

The suggestion is to change method of two-sided p-value computation in `get_p_value()` to "Chihara and Hesterberg" (CaH) approach: "For a two-sided test, we calculate both one-sided P-values, multiply the smaller b

[2018-10-19 16:43] andrewpbray commented on #205
I actually see three potential ways to compute these two-tailed p-values:
1. Reflect the observed stats around the center (mean/median) of the distribution and measure tail area (what we're currently doing).
2. Take the tail on the side of the observed value and multiply it by 2 (the CaH method).
3. Draw a _horizontal_ line across the sampling distribution where it hits the vertical line of the ob

[2018-10-19 17:11] andrewpbray commented on #205
### p-value computation

I see three potential ways to compute these two-tailed p-values:

1. Reflect the observed stats around the center (mean/median) of the distribution and measure tail area (what we're currently doing).
2. Take the smaller of the two one-tailed values and multiply it by two (the CaH method).
3. Draw a _horizontal_ line across the sampling distribution where it hits the vertic

[2018-10-19 18:47] echasnovski commented on #205
Functions `get_p_value()` and `shade_p_value()` have independent implementations of p-value computations. `get_p_value()` has [this function](https://github.com/tidymodels/infer/blob/72981141fd72df52bc6f0cbfc58678bab4c1cf17/R/get_p_value.R#L101) and `shade_p_value()` [this one](https://github.com/tidymodels/infer/blob/72981141fd72df52bc6f0cbfc58678bab4c1cf17/R/visualize.R#L603) (which acts [here](

[2018-10-25 21:33] ttimbers opened #206 "get_pvalue(... , direction = "both") returns incorrect value in some cases"
`get_pvalue(... , direction = "both")` appears to return an incorrect value when the sample test statistic is present in null hypothesis test statistic distribution. This is rarely observed when the number of permuted replicates is small, but when that number is large it happens. When this happens it is as if the code does this:

[code]

when it should do this:
[code]

The key difference between t

[2018-10-26 19:11] ttimbers commented on #206
@ismayc ^

[2018-10-26 19:16] ismayc commented on #206
@ttimbers Thanks for tagging me and adding this issue. @echasnovski and @andrewpbray are trying to figure out exactly how we should set up this calculation since it is a bit tricky for non-symmetric distributions in #203. They'll be looking over your example as well to make sure we can get this drilled down.

[2018-10-26 20:08] echasnovski commented on #206
Thank you, @ttimbers. This is a great reprex.

The reason of this behavior seems to be that current implementation of two-sided p-value uses `1 - get_percentile(...)` expression for computing one of the tails. Essentially, this is equivalent to `mean(stat > obs_stat)` and not to `mean(stat >= obs_stat)`.

We'll try to figure out the most appropriate method for two-sided p-value computation in #205

[2018-10-26 20:11] echasnovski commented on #205
Following #206 ([this comment](https://github.com/tidymodels/infer/issues/206#issuecomment-433528588) in particular), even the current implementation of `two_sided_p_value()` should be updated to something like this:

[code]

[2018-10-26 20:12] echasnovski commented on #205
@andrewpbray, is there any settled decision about which method of two-sided p-value should be used here?

[2018-10-26 20:14] echasnovski commented on #206
@ismayc, this also reminds me about [this dilemma](https://github.com/tidymodels/infer/pull/203#issuecomment-431116184). Maybe the second option should be chosen (if that method will be approved as the implementation update).

[2018-10-26 22:07] ismayc commented on #206
I’m good with the second option. I think we should just make a decision here and see how it goes.

[2018-10-27 00:18] andrewpbray commented on #205
@echasnovski you bring up some great points.

Yes, this interpretation makes sense to me.

That's an excellent point. I don't imagine that there'd be a clearly optimal way to calculate this sort of p-value.  I think we'd just have to make it subject to the same generally-decent algorithm that the histogram function uses.

I agree, that's a good design goal and I guess the shading does help there.

[2018-10-27 10:14] echasnovski commented on #205
Some overnight insight:

1. **Currently `get_p_value()` and `visualize()` have different logic of computing/representing two-sided p-values**. They both essentially act by algorithm "compute complementary tail border and return sum of two tail areas" but compute second border differently. As `get_p_value()` mirrors observed statistic around median of sample distribution (see [here](https://github.

[2018-10-27 10:29] echasnovski commented on #206
A smaller reprex for future use:

[code]

<sup>Created on 2018-10-27 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-10-27 15:51] ismayc commented on #205
That makes sense to me. I’ll let @andrewpbray confirm.

[2018-10-27 17:05] andrewpbray commented on #205
Oh, you're right! Hey, that simplifies things somewhat. That's an elegant approach you have there in `visualize()` using `ecdf()` and `quantile()`.

I agree with both of your conclusions - PR away!

[2018-10-27 18:29] echasnovski commented on #205
Well, that is not *mine* approach :) It was there before I got here.

[2018-10-27 18:31] ismayc commented on #205
I’ll take the credit for that 😄

[2018-10-28 06:38] echasnovski commented on #206
After some thought, I am not sure that p-value computation you propose should always match the one {infer} does.

Currently (in agreed development version) {infer} uses a simulation-based approach to computing two-sided p-value described [here](https://en.wikipedia.org/wiki/P-value#Definition_and_interpretation). Computing p-value as share of values more distant from zero than observed statistic s

[2018-10-30 18:59] ttimbers commented on #206
@echasnovski - using the develop version of `infer` I am now getting 0.0024 instead of 0.001066667 as the p-value.

It is still not matching my expectation if I calculate it by "hand" (under the reasoning that in a simulation-based approach the p-value can be **approximated** by the % of simulations where the simulated difference in sample proportion at least as extreme as the observed difference

[2018-10-30 19:34] echasnovski commented on #206
Thank you very much for these experiment and observations.

One-sided p-values are computed exactly as you expect: `mean(x >= obs_stat)` and `mean(x <= obs_stat)` for right and left p-values (`x` - vector of simulated statistics under null hypothesis, `obs_stat` - statistic value observed on data).

However, two-sided p-value is not as straightforward. One can use the approach you used "by hand":

[2018-10-30 22:39] andrewpbray commented on #206
When I run the full example on my machine, I get the same results as @ttimbers : 0.0024 on the dev version of `infer` and 0.001066667 with
[code]
As far as I can tell, `get_pvalue()` is working the way we want it to. I think the reason for the confusion is that in the dev version we're making two fixes:
1. switch `>` to `>=`.
2. fundamentally change how we're defining p-values by using the "take t

[2018-10-30 23:34] ismayc commented on #206
I concur with what was said by both Andrew and Evgeni. This is mighty tricky, @ttimbers. Non-symmetry caused us to rethink what we should do in general situations. Hope this helps! Let us know if not.

[2018-11-02 17:17] ttimbers commented on #206
@andrewpbray @echasnovski @ismayc - Thanks for the discussion, the update of `get_pvalue` in the dev version and for clarifying why you are moving toward a different approach (which sounds like the right one).  Will this clarification of p-value method be added to the docs?

[2018-11-02 19:04] echasnovski commented on #206
For now, it is mentioned in [NEWS.md](https://github.com/tidymodels/infer/blob/develop/NEWS.md) (as it is actually a breaking change).
Also it seems to be somewhat an initial design, as this method is used in [this vignette](https://infer.netlify.com/articles/flights_examples.html#one-numerical-variable-mean) to illustrate how p-values are computed.
Nevertheless, better function documentation migh

[2018-11-06 04:49] TimHesterberg commented on #205
Andrew, thanks for calling this to my attention. Sorry for the delay - traveling.

I'll argue in favor of CaH.

(1) Methods 1 and 3 are not transformation invariant - you'll get
different result if you test using sigma vs sigma^2,
or if you test using hazard ratio vs log-hazard-ratio.

As a result, those methods are subject to P-value hacking, where you
choose a transformation to get the answer yo

[2018-11-06 15:11] TimHesterberg commented on #205
(1) In hypothesis testing, the presumption is that the null hypothesis is true unless the data provide strong evidence otherwise.
It should be the data that provide that evidence, not simulation error due to using very few samples.
And if it is computationally infeasible to use a good number of samples, then you should be somewhat conservative - and adding 1 to
numerator and denominator does that.

[2018-11-06 16:10] echasnovski commented on #205
I belive that "A P-value of zero is literally impossible" is not true in general case. If, for some reason, there is an assumption of a finite support null distribution (say, uniform on [0, 1]) than p-value 0 can as well be true (if data gives 1.5, for example).

Even with infinite support there is a question of numerical precision: zero p-value can be a more accurate estimate of "truth" than `1 /

[2018-11-06 16:21] luebby commented on #205
I maybe mistaken, but in teaching I find it reasonable to argue in the case none of the `sims` exceeds the given statistics to say the simulated p-value`<1/sims`.

[2018-11-06 23:49] andrewpbray commented on #205
Tim, thanks a lot for the feedback! Some thoughts in response:

(1) **Transformation invariance**: this is a nice property and I hadn't thought of it.

(2) **It's consistent with the probability scale**: I agree that if we're defining a p-value in terms of "probability of that value or more extreme (on the statistic scale), then we're talking about the cdf. Under that definition, you're right that

[2018-11-06 23:55] andrewpbray commented on #205
In the interest of resolving the concrete issue of which p-value definition to use, I think going with (2) makes the most sense because it is consistent with the overwhelmingly standard approach to calculating a p-value and for some of the other issues that Tim brings up.

[2018-11-07 08:13] echasnovski commented on #205
To finally close this off: @andrewpbray, @ismayc, what is your opinion about adding 1 to numerator and denominator during computation of one-sided p-value? Should this be done in code? If eventually we're going to do this, it seems wise to do it now, as `get_pvalue()` already has "broken" behavior.

[2018-11-07 11:53] echasnovski commented on #205
I personally don't like the idea of always not having zero p-value. However, I found one area when it might be a useful feature: multiple hypothesis testing. If p-value is exactly zero then all p-value adjustment methods (as in `p.adjust.methods` for `p.adjust()` function) don't change that. In case of really large number of hypothesis (at least around number of resamples during computation of one

[2018-11-07 15:20] ismayc commented on #205
I think if we change it, we should add a message explaining the calculation or we are going to get lots of people requesting clarification as issues in the repo. I don’t think it is as commonly used, even though the reasons do make sense as Tim has laid out.

[2018-11-07 17:20] ismayc commented on #205
The important point I think is that when we use simulation-based methods, we are approximating a process of permutating all samples (or bootstrapping or simulating a coin flip). So when we say "the probability of observing a sample statistic as extreme or more extreme than what was observed in the sample, assuming the null hypothesis is true", the term "probability" isn't exact. It's dependent on

[2018-11-07 18:30] andrewpbray commented on #205
I lean towards not implementing the +1 thing, primarily for simplicity.

[2018-11-07 20:44] echasnovski commented on #205
So I guess the current `get_p_value()` implementation in `develop` branch is acceptable (for now).

[2018-11-08 02:40] ismayc opened #208 "Converting to list-columns in generate()"
@andrewpbray Can you update us on a timeline here? Should @echasnovski and/or I take this up instead for v0.5.0? We had planned to have this ready in October.

[2018-11-08 02:40] #202 closed

[2018-11-08 08:45] echasnovski commented on #208
Oh, the list-columns...
I was wondering for some time: how exactly the desired solution should look like? Is it:

- Replacing grouped tibble with not grouped but with "simple" list-column for generated data (which is fairly straightforward in terms of programming).
- Using [rsample](https://github.com/tidymodels/rsample) package. This is not as straightforward for either programming or user experi

[2018-11-08 14:50] ismayc commented on #208
Here are some further responses in issue [#24](https://github.com/tidymodels/infer/issues/24).

[2018-11-08 14:52] ismayc commented on #208
We originally talked about just implemented 1, which is just nesting and unnesting and syncing that up with `calculate()` via `purrr::map()`. Given that {rsample} is another package in {tidymodels}, we could also implement it, but like you said we might want to wait until it is a little more flushed out.

[2018-11-08 17:48] andrewpbray commented on #208
### Switch from grouped tibble to list-col

_Pros_
- Straightforward to implement
- `calculate()` step will probably speed up by 2-3 times (?)

_Cons_
- Probably won't change the size of the `generate()`d object in RAM.
- Small reduction in transparency of what's going on (the generated data is now squirreled away in the list-col)

### Switch from grouped tibble to rsample object

_Pros_
- `genera

[2018-11-08 17:55] ismayc commented on #208
In Max's presentations he mentions that packages in {tidymodels} use the list-column workflow, so {infer} is not matching up with that.

[2018-11-08 19:45] echasnovski commented on #208
Several notes:

- Approach "we could always write a print method to solve that" doesn't seem to be the best option, as it means that output of `generate()` should have custom class. This slightly breaks {infer} "only tibbles/data frames" approach.
- I think using {rsample} will introduce a lot of troubles with users. As it is not yet as quite "familiar" as simple list-columns.

Personally, I don't

[2018-11-11 17:08] TimHesterberg commented on #205
Another reason to use +1 is consistency with confidence intervals.
When doing bootstrap percentile or bootstrap t confidence intervals,
you should use the analog of R's quantile(..., type = 6), in which the i'th largest
observation correspond to probability i/(n+1), with interpolation between observations.
This corresponds to equal probability 1/(n+1) between each pair of observations,
and above a

[2018-11-11 18:51] echasnovski commented on #205
Computation of p-value (with `get_p_value()`) in `develop` branch doesn't depend on `quantile()` at all. And I believe it shouldn't as current implementation seems to be the closest to p-value estimation.

About CI functions, there are several problems:

- I don't really understand why `get_confidence_interval()` "should" use the analog of `quantile(*, type = 6)`. Is there a common situation where

[2018-11-11 21:14] echasnovski commented on #205
And maybe it is better to create new issue for any kind of update suggestion? As this was originally intended to discuss *two-sided* p-value.

[2018-11-12 00:02] andrewpbray commented on #205
I think that makes sense: close out this issue then open a new one with variable `type` as a feature request. We'd likely set the defaults at their current behavior, so a change down the line won't change the existing methods. If enough users are expecting this behavior, it could be handy to build it in at some point.

[2018-11-12 00:02] #205 closed

[2018-11-12 00:05] andrewpbray opened #209 "Provide for alternate quantile approaches"
As is detailed in #205, there are arguments to be made in modifying the way that both p-values and quantiles for CIs are calculated. Specifically, TimHesterberg suggests:

- Adding 1 to numerator and denominator of all p-value calculations.
- Changing from the default behavior to `quantile(..., type = 6)` when calculating bootstrap intervals.